[2015-11-13 22:28] CFGrote commented on #2
done, numSlices parameter is mandatory.

[2015-11-16 10:41] CFGrote commented on #1
Done, parameters are implemented as dictionary.

[2015-11-17 15:26] CFGrote opened #11 "Investigate openPMD"

[2016-02-08 12:39] CFGrote opened #19 "Refactor IO"
Each special calculator has more or less the same logic for setting up the number and type of output files depending on the type and number of input files. Can this be generalized and moved to either the AbstractPhoton\* or even the AbstractBaseCalculator?

[2016-02-08 12:41] CFGrote opened #20 "Enable parallel execution of simS2E calculators"
Develop a strategy how to do parallel backengine execution and implement in Calculators.

[2016-02-09 15:51] bussmann commented on #19
Dear Carsten, these and others are important design considerations that might limit the scalability of the simex_platform severely. We should talk VERY soon.

Best, Michael

[2016-02-10 08:45] CFGrote commented on #19
Hi Micha,
yes, we should. I was thinking about having a new teleconference
beginning next week, are you available?

carsten

##

Carsten Fortmann-Grote
Scientist
European XFEL GmbH

Mail: carsten.grote@xfel.eu
Phone: +49 (0)40 8998 5603

On 09.02.2016 16:51, Michael Bussmann wrote:

[2016-02-10 09:23] bussmann commented on #19
Should be

Am 10.02.2016 um 09:45 schrieb Carsten Fortmann-Grote:

[2016-02-24 09:03] CFGrote opened #23 "Convert top level makefile to cmake CMakeLists.txt"

[2016-02-24 09:04] CFGrote opened #24 "Remove 3rd party libraries from build"
mpich
armadillo
hdf5
boost
- implement checks for required 3rd party libs

[2016-02-24 09:06] CFGrote opened #25 "Generate cmake files for wpg+srw"

[2016-02-24 09:06] CFGrote opened #26 "cmake for s2e"

[2016-02-24 09:07] CFGrote opened #27 "cmake for emc"

[2016-02-24 09:07] CFGrote opened #28 "cmake for dm"

[2016-02-24 09:08] CFGrote opened #29 "cmake for singfel"
take existing cmake files + patches

[2016-02-25 12:04] CFGrote opened #30 "Parameters class for all Calculators"
see PlasmaXRTSCalculator for an example

[2016-03-02 15:49] CFGrote opened #31 "Documentation"
Build a reference manual, e.g. through sphinx.

[2016-03-18 09:00] buzmakov opened #32 "Build without MKL"
I'll try to install simex_platform locally in empty container on ubuntu 14.04.

1) The list of all necessary packages for build  simex_platform the following:

[code]

(unzip not mentioned in Readme. )

2) I'm fail to build  simex_platform, because I have not Intel MKL library installed locally.
Is it any way to build recon using lapack if MKL absent?

[code]

[2016-03-19 06:28] bussmann commented on #32
Dear all, this is important. We should avoid vendor-specific dependencies BUT always be able to use that version of a function that is optimum for a given hardware.

This currently is neither possible with all BLAS/LAPACK flavours nor with FFTs. For FFTs we at HZDR have written a common C++ interface based on template metaprogramming that allows for optimized FFTs using a single interface which we

[2016-03-21 11:44] SergeyYakubov commented on #32
Hi!

If you try a new version from Master branch that uses CMake, the program should compile without mkl, providing you have fftw and other stuff installed. It should also give you warnings if something is missed.

[2016-03-21 13:10] CFGrote commented on #32
hi sergey,
sounds great. however, i don't see a relevant commit in master (did you
forget to push?)

for new_hierarchy, i would like to move Sources/unittest to
Sources/python/unittest and Sources/python/SimEx to
Sources/python/src/SimEx, to keep the symmetry and to have the same
structure for other languages.

regards,

##

Carsten Fortmann-Grote
Scientist
European XFEL GmbH

Mail: carsten.grote@

[2016-03-21 14:45] bussmann commented on #32
Thanks. I can't check but it would be EXTREMELY useful to have optimized versions for Intel, AMD, NVIDIA Hardware and corresponding cmake flags.

[2016-03-21 15:07] SergeyYakubov commented on #32
There is a problem that SimEx is using modules provided by the partners. These modules use some 3rd-party libraries that should be preinstalled on the system.

So, the steps to use optimized version would be:
1. Install necessary optimized software (intel MKL, cuda, etc)
2. Compile 3rd party libraries that are needed by modules (armadillo, boost, fftw, ...)
3. During modules compilation we can try

[2016-03-21 15:12] bussmann commented on #32
Dear Sergey,

I understand your point and like your suggestion alot. We use cmake so no problem here.

This should be discussed with the other partners, then.

Best, Michael

[2016-03-21 15:15] CFGrote commented on #32
hi,

On 03/21/2016 04:07 PM, SergeyYakubov wrote:

carsten

[2016-03-21 15:18] bussmann commented on #32
As long as I'm not involved in maintaining this, I'm fine with this ; -)

[2016-03-21 15:32] SergeyYakubov commented on #32
I agree that  patching is not the best solution. Someone can change something and we may have problems. For singfel we are already replacing the whole CMakeLists file, which is not good at all.

While we don't have general solution, we can do it manually and step by step. Now MKL works, no MKL works. Then we can make CUDA work, then openblas, and so on, depending on the requests. And I believe tha

[2016-03-21 15:39] buzmakov commented on #32
Hi,
Now all builds successful.
On ubuntu 14.04 the list of dependencies is:

apt-get install -y wget python2.7 python-numpy python-scipy python-h5py python-setuptools python-matplotlib build-essential libbz2-dev libgsl0-dev libfftw3-dev liblapack-dev libhdf5-dev libopenmpi-dev cmake libarmadillo-dev libboost1.55-all-dev unzip cython

[2016-04-09 10:55] bussmann opened #34 "Test on various clusters"
simex_platform should be repeatedly tested in more than one HPC environment during development to avoid unjustified assumptions on the HPC workflow. HZDR can provide access to its HPC resources.

[2016-04-09 11:00] bussmann opened #35 "Use continuous integration"
It would be great to look into Travis or other CI tools for testing. @ax3l can give advice when he comes to Hamburg.

[2016-04-11 16:33] ax3l commented on #35
yes, I can definitely assist setting, e.g. travis-ci up.

@CFGrote how is the current run-time and resource consumption of the tests (disk space, no. of CPUs, RAM)?

[2016-04-18 13:13] jnl0517 opened #36 "Does the parameter slice_interval of diffraction work?"
I did a simulation on simex and keep the product of slice_interval and number_of_slices, and  I found the intensity of the diffracted pattern increased with the bigger number_of_slices.
![result diffraction_difference](https://cloud.githubusercontent.com/assets/18531296/14605256/0dde0ee6-0578-11e6-9c26-7a5be2c2a31f.png)

[2016-04-28 07:56] jnl0517 commented on #36
From more results, I found that the number of slices is about the number of pluse, and indepedent of the slice interval. So the former simulated results are correct, and new result is obtained to support the note.
![difference](https://cloud.githubusercontent.com/assets/18531296/14879045/36969b9e-0d27-11e6-80f7-1690cc63ccdf.png)

[2016-04-28 07:56] #36 closed, assigned to nobody

[2016-05-20 08:55] ax3l opened #39 "Segfault in WavePropagatorTest"
Link:
  https://travis-ci.org/ax3l/simex_platform/jobs/131638091#L3626

One of the tests of the day1 beamline segfaults as of commit 6994737ab2060e378bccf916327ac35c7b63ce1c

[code]

[2016-05-23 07:18] CFGrote commented on #39
more tricky then i thought. it's something odd deep in the srw libs.

On 05/23/2016 09:17 AM, Axel Huebl wrote:

##

##

Carsten Fortmann-Grote
Scientist
European XFEL GmbH

Mail: carsten.grote@xfel.eu
Phone: +49 (0)40 8998 5603

[2016-05-23 07:45] ax3l commented on #39
Thanks for investigating the segfault in SRW. Maybe @ochubar @samoylv and @buzmakov want to have a look?

Can you create a minimal example for them?

[2016-05-23 07:46] CFGrote commented on #39
thing is that it does not fail when wpg runs as standalone application ...

On 05/23/2016 09:45 AM, Axel Huebl wrote:

##

##

Carsten Fortmann-Grote
Scientist
European XFEL GmbH

Mail: carsten.grote@xfel.eu
Phone: +49 (0)40 8998 5603

[2016-05-23 07:51] ax3l commented on #39
Can you link the segfaulting lines in WPG / SRW that `gdb` returned?

[2016-05-23 08:02] CFGrote commented on #39
see gdb log attached:

$> gdb python
GNU gdb (Ubuntu 7.7.1-0ubuntu5~14.04.2) 7.7.1
Copyright (C) 2014 Free Software Foundation, Inc.
License GPLv3+: GNU GPL version 3 or later
http://gnu.org/licenses/gpl.html
This is free software: you are free to change and redistribute it.
There is NO WARRANTY, to the extent permitted by law.  Type "show copying"
and "show warranty" for details.
This GDB was con

[2016-05-23 08:15] ax3l opened #40 "Documentation of Calculators"
(This issue documents offline results from last weeks discussions between @CFGrote and @ax3l. @CFGrote can you please edit to correct wrong and add missing information? :) )
## Beamline Elements

Currently, `calculators` act as the algorithmic building blocks describing subsequent stages in the beamline. The [following calculators](https://github.com/eucall-software/simex_platform/blob/6994737ab20

[2016-05-23 08:23] CFGrote commented on #40
on my list ...

this is a very good starting point for the document to be written in
fulfillment of deliverable 4.1 .

On 05/23/2016 10:20 AM, Axel Huebl wrote:

##

##

Carsten Fortmann-Grote
Scientist
European XFEL GmbH

Mail: carsten.grote@xfel.eu
Phone: +49 (0)40 8998 5603

[2016-05-23 08:31] ax3l opened #41 "Calculator Coupling: Asynchronous"
(This issue documents offline results from last weeks discussions between @CFGrote and @ax3l.)
### Description

A simulation is staged in various `Calculators` in SIMEX, see #40, which are [currently executed](https://github.com/eucall-software/simex_platform/blob/6994737ab2060e378bccf916327ac35c7b63ce1c/Tests/python/unittest/SimExTest/PhotonExperimentSimulation/PhotonExperimentSimulationTest.py#L

[2016-05-23 08:32] ax3l commented on #40
great! I edited the description on GitHub a bit further from my minutes. Feel free to edit those! :)

[2016-05-23 08:46] ax3l commented on #39
Ouch, no header docs in [`SRW/cpp/src/core/sroptelm.h`](https://github.com/ochubar/SRW/blob/76f8515c7a0470cac63274a1741a89bd8d50946a/cpp/src/core/sroptelm.h) at all :) Looks like a cell-offset or -number mismatch somewhere in [`RadResizeCore`](https://github.com/ochubar/SRW/blob/76f8515c7a0470cac63274a1741a89bd8d50946a/cpp/src/core/sroptelm.cpp#L2519-L2552)...

[2016-05-23 11:40] CFGrote commented on #39
This is not a bug in simex_platform but rather in wpg and or srw. Closing here after workaround in test and reopen as [https://github.com/samoylv/WPG/issues/74](https://github.com/samoylv/WPG/issues/74).

[2016-05-25 12:26] CFGrote opened #42 "Fix errors observed on travis"
The errors reported from travisCI (see e.g. this log: https://travis-ci.org/eucall-software/simex_platform/jobs/132826264) are not reproduced if build+test on local machine. It seems that some test files are not installed correctly in the build on travisCI, see debug print in lines 3635ff. Someone with more experience with travisCI (@ax3l ?) might be quicker to solve this.

Thanks, Carsten

[2016-05-25 12:34] ax3l commented on #42
looks like we [forgot to close a file after we opened it](http://stackoverflow.com/questions/26613570/hdf5-file-created-with-h5py-cant-be-opened-by-h5py/26730843#26730843).

What `h5py` is [saying in this line](https://travis-ci.org/eucall-software/simex_platform/jobs/132826264#L3650) `IOError: Unable to open file (Unable to find a valid file signature)` is: the file I shall open is not a valid HD

[2016-05-25 12:38] ax3l commented on #42
Actually the file in `Tests/python/unittest/TestFiles/pmi_out_0000001.h5` looks damaged.

When I am trying to open it locally, via

[code]

I am also getting the  `Unable to open file (File signature not found)` error.
(Note: travis used HDF5 1.8.13 atm and also the latest `h5py` release.)

My version of `HDFview` can not open this file either :)

[2016-05-25 12:47] CFGrote commented on #42
hm strange. no such error here...
ipython session:

In[3]: h5=h5py.File('pmi_out_0000001.h5', 'r')

In [4]: print h5py.**version**
2.2.1

In [5]: h5py.version?
Type:       module
String Form:<module 'h5py.version' from '/usr/lib/python2.7/dist-packages/h5py/version.pyc'>
File:       /usr/lib/python2.7/dist-packages/h5py/version.py
Docstring:
This is h5py **2.2.1**
- HDF5 version: **1.8.11**

On 05

[2016-05-25 13:58] ax3l commented on #42
Ah of course, we need to run a `git lfs pull` in travis, now! :D Will update!

[2016-05-25 14:08] CFGrote commented on #42
i was just beginning to smell sth like this ;) glad you found out.

[2016-05-26 05:25] CFGrote opened #45 "travisCI for master"
Test branch master in travisCI. Needs cherrypicking some commits from develop branch.

[2016-05-26 06:18] CFGrote commented on #42
Fixed. So the crucial commits are
485c264530570d86614152a69f67fd9b6575634b (git pull lfs)
eaa1a378278d3de63cb57d5797ddae4334d7cf6d (git install lfs)
51a994d6ddb1f6fef29e418641cbab7e14876a48 (remove pylab)

[2016-05-26 06:18] #42 closed, assigned to ax3l

[2016-05-26 07:03] #35 closed, assigned to ax3l

[2016-05-26 07:06] CFGrote commented on #45
Done by merging develop into master

[2016-05-26 07:06] #45 closed, assigned to nobody

[2016-05-26 11:39] ax3l commented on #39
can we leave this bug open to track the upstream development in `wpg/srw`?
Once it is fixed we can enable the test again and close the issue.

[2016-05-26 11:49] CFGrote commented on #40
Transferred to [new repo](https://github.com/eucall-software/simex_docs)

[2016-05-26 11:54] CFGrote commented on #39
fine with me.

On 05/26/2016 01:39 PM, Axel Huebl wrote:

##

##

Carsten Fortmann-Grote
Scientist
European XFEL GmbH

Mail: carsten.grote@xfel.eu
Phone: +49 (0)40 8998 5603

[2016-06-03 12:59] jnl0517 opened #46 "Wrong with the reconstruction."
I ran an example,  the result of the orient file is not correct and there is no output file of reconstruction.
There are many NANs in the orient array.
![orient](https://cloud.githubusercontent.com/assets/18531296/15779276/a7b77a9c-299b-11e6-937d-59a347997d24.png)

[issue.zip](https://github.com/eucall-software/simex_platform/files/297598/issue.zip)

[2016-06-13 07:38] jnl0517 commented on #46
The problem was solved by increasing the number of diffraction pattern. In  former simulation the number of diffraction pattern is too small. It means that the diffraction data is insufficient to reconstruct the object.

[2016-06-13 07:38] #46 closed, assigned to CFGrote

[2016-06-13 12:50] CFGrote commented on #32
@buzmakov, @SergeyYakubov
can we close this one?

[2016-06-13 12:51] #40 closed, assigned to CFGrote

[2016-06-13 12:52] CFGrote commented on #31
Done (uses doxygen)
type make doxygen in doc to build the documentation

[2016-06-13 12:52] #31 closed, assigned to CFGrote

[2016-06-13 12:53] #23 closed, assigned to SergeyYakubov

[2016-06-13 13:09] #25 closed, assigned to nobody

[2016-06-13 13:09] #26 closed, assigned to nobody

[2016-06-13 13:09] #27 closed, assigned to nobody

[2016-06-13 13:09] #28 closed, assigned to nobody

[2016-06-13 13:09] #29 closed, assigned to CFGrote

[2016-06-13 13:12] CFGrote commented on #11
An openpmd derived format is used now used in the XFELPhotonPropagator class to write photonized
wavefronts to be used e.g. by PIConGPU

[2016-06-13 13:12] #11 closed, assigned to nobody

[2016-06-14 07:30] CFGrote opened #47 "Require numpy v >=1.9"
Recent updates in wpg use numpy.ndarray.tobytes(), which was added in numpy version 1.9.
Our current requirements are numpy1.8.2
- Update requirements
- Test on available platforms -> Will fail on xfl cluster and maxwell

[2016-06-14 08:01] SergeyYakubov commented on #32
yes

[2016-06-14 08:06] #32 closed, assigned to SergeyYakubov

[2016-06-14 10:30] CFGrote opened #48 "Install on maxwell.desy.de"
Install and test simex_platform on the DESY maxwell cluster. (related to #34 )
Document all necessary fixes in README.md

[2016-06-14 10:35] CFGrote commented on #48
- Requires numpy version >=1.9 ( #47 )
- Requires boost 1.55 <= v <= 1.60 (for some reason boost v>1.61 requires  libmpich.so.12, not available on maxwell)
- Remember to git lfs pull (and install git-lfs if needed)

[2016-06-14 13:54] CFGrote commented on #48
Ok on intel nodes, try amd nodes next.

[2016-06-15 10:55] CFGrote opened #49 "Refactor EMC orientation"
Original implementation in simS2E works such that a photons.dat is generated only once for all
orientation runs. this speeds up calculations if many patterns have to be read.
- Specify working directory for EMC
- If photons.dat  already present, skip reading from diffr_out.h5
- Number of runs should always be 1 or implement a scheduling mechanism.
- consider replacing EMC by dragonfly (openmpi imp

[2016-06-15 12:52] #49 closed, assigned to CFGrote

[2016-06-15 12:53] CFGrote commented on #47
Updating numpy to 1.12 fixes the issue.

[2016-06-15 12:53] #47 closed, assigned to CFGrote

[2016-06-15 12:54] CFGrote commented on #48
Builds and passes tests on amd node.

[2016-06-15 12:55] #48 closed, assigned to CFGrote

[2016-06-15 12:57] CFGrote commented on #34
Tested on DESY maxwell cluster (both intel and amd nodes), see #48.

[2016-06-15 12:58] CFGrote commented on #30
All Calculators should get their parameters using the same syntax. See PlasmaXRTSCalculator and
PlasmaXRTSCalculatorParameters as an example.

[2016-06-23 09:22] CFGrote opened #50 "Enable loading samples directly from pdb"
- Allow specification of sample like sample="2nip.pdb"
- If time, implement interface to query from pdb.org

[2016-06-23 18:52] CFGrote commented on #50
Done.

[2016-06-23 18:52] #50 closed, assigned to CFGrote

[2016-07-18 14:16] CFGrote commented on #19
- Each file must contain the parameters pertaining to the simulation and the history of previous simulation steps.
- Support default filenames

[2016-07-20 14:14] #19 closed, assigned to nobody

[2016-07-26 07:34] jnl0517 opened #51 "The wpg saved h5 file is not correct as the input of the next run?"
I run the simex with wpg method and had a error. The details of error are following.

"
######
# Starting SIMEX photon-matter interaction.
######

Previous module:  small_size_large_detector
  NOT: data
  NOT: history
misc
params
version
[u'arrEhor', u'arrEver']
[(u'arrEhor', <HDF5 dataset "arrEhor": shape (101, 101, 550, 2), type "<f4">), (u'arrEver', <HDF5 dataset "arrEver": shape (101, 101, 550

[2016-07-26 08:16] CFGrote commented on #51
Probably related to #39 but I'll check

[2016-07-27 15:12] jnl0517 commented on #51
I may find the reason. The PropagateSE.py of prop has the same problem and it is solved by adding some more information into the output file H5.

[2016-07-29 12:10] jnl0517 commented on #51
I add some code about information into backengine of the Waveprogator.py as PropagateSE dose and it works.

[2016-09-02 09:43] ax3l opened #52 "Deployment: spack"
We could also add a [spack](https://github.com/LLNL/spack) package (actually: a recipe) to deploy source and build on the system.

[2016-09-05 10:01] CFGrote commented on #39
can still reproduce  after latest fixes in wpg/srw by @SergeyYakubov .

[2016-09-13 19:24] CFGrote opened #53 "Exception in singFELDiffractor if run in parallel mode"
Sergey wrote on Sept. 13 2016:
I'm getting some IO error and see only one output file:

inputDir: /data/fhgfs/yakubov/simex_bigcase/5keV_3fs_nz35/pmi
outputDir: /data/fhgfs/yakubov/simex_bigcase/5keV_3fs_nz35/diffr/diffr_test
configFile: /dev/null
beamFile: s2e.beam
geomFile: s2e.geom
rotationAxis: xyz
numSlices: 100
sliceInterval: 24
pmiStartID: 1
pmiEndID: 1039
numDP: 200
calculateCompton: 1
uni

[2016-09-13 19:44] CFGrote commented on #53
Just running the SingFELDiffractorTest.py in unittest produces similar error messages on the xfl31? machines. No problem running the test on a Ubuntu16.04 PC (after fresh simex install). Could it be updates to hdf5 libraries on DESY cluster? Travis does not report issues.

[2016-09-14 06:29] CFGrote commented on #53
edit to last comment: it fails if run on physical valid pmi output, even on the ubuntu box.

[2016-09-14 06:33] SergeyYakubov commented on #53
it does not seem to depend on hdf5 version.

The problem is in these lines (raditationDamageMPI.cpp):
                // Beam // FIXME: Check that these fields exist
                if (givenFluence == false) {
                    setFluenceFromFile(filename, timeSlice, sliceInterval, \
                                       &beam);
                }

I do not like this FIXME :)

If I comment them

[2016-09-14 06:37] CFGrote commented on #53
hm. i have picked up a different smell, but i'll follow up on this one
as well. might have to involve @chuckie82

carsten

On 09/14/2016 08:33 AM, SergeyYakubov wrote:

##

Dr. Carsten Fortmann-Grote
Scientist for Scientific Simulations / Wissenschaftler fuer
wissenschaftliche Simulationen
European XFEL GmbH
Holzkoppel 4
22869 Schenefeld
Germany

Phone: +49 (0)40 8998-5603
Fax:   +49 (0)40 8998-19

[2016-09-14 07:36] SergeyYakubov commented on #53
Actually, this call (setFluenceFromFile) should never work because it calls hdf5readConst which gives error if process rank !=0. But setFluenceFromFile is called from slave_diffract, which executed for rank>0.

So, the program would only work if givenFluence==true (which is probably the case for unit tests).
givenFluence is true when beam.get_photonsPerPulse()>0. So it looks like number of photons

[2016-09-14 07:38] CFGrote commented on #53
aah. starts to make sense now. good catch. can you figure where that piece of information is read from?

[2016-09-14 07:39] SergeyYakubov commented on #53
looking at it right now.
Should be read from beamfile - beam.readBeamFile(beamFile). And it is actually there

; Number of photons per pulse
#beam/fluence = 9e14

[2016-09-14 07:48] SergeyYakubov commented on #53
Ok, that was easy.
s2e.beam has these all lines commented, they were not read and fluence, etc was not set.

[2016-09-14 07:52] CFGrote commented on #53
hm. i wonder why it was commented out.

[2016-09-14 07:52] SergeyYakubov commented on #53
may be they are supposed to be read from h5 file?

[2016-09-14 07:55] CFGrote commented on #53
yes, probably, 9e14 is also much too high fluence, for 3fs pulses,  fluence is more like 9e10

[2016-09-14 07:55] CFGrote commented on #53
so why then does it work in the tests?

[2016-09-14 07:59] SergeyYakubov commented on #53
Aha. Now I maybe finally understand. They are commented in beam file, because this information is in h5 file. setFluenceFromFile tries to read exactly this information. But fails in hdf5readConst when called from rank>0.

So  we can whether set correct parameters in beam file (the fastest way) or try to make setFluenceFromFile work.

I'll look how it works in tests

[2016-09-14 08:00] CFGrote commented on #53
we should fix setFluenceFromFile.

[2016-09-14 08:14] SergeyYakubov commented on #53
Ok, I was confused with rank variable. It is not related to MPI rank. hdf5readConst reads rank from h5 file via H5LTget_dataset_ndims:
    H5LTget_dataset_ndims(file_id,datasetname.c_str(),&rank);
    if (rank != 0) {
        cerr << "Error: rank is not zero: " << rank << endl;
        cerr << "Try using hdf5read instead" << endl;
        exit(0);
    }

Rank here means dimensionality of a dataset

[2016-09-14 08:18] CFGrote commented on #53
yes. Nph used to be a scalar, now it's an array (1x1).

[2016-09-14 08:28] CFGrote commented on #53
can you fix setFluenceFromFile() or shall I?

[2016-09-14 08:42] SergeyYakubov commented on #53
I can. But it should accept both single value (old format) and array (new format), right?

[2016-09-14 08:47] CFGrote commented on #53
no, new format is enough. old format is never used anymore. it means i have replace test files, but that's ok.

[2016-09-14 08:48] CFGrote commented on #53
where does that readhdf5() come from? can't find it in hdf5 sources

[2016-09-14 08:50] CFGrote commented on #53
ah, it's in singFEL's own io.h

[2016-09-14 08:50] SergeyYakubov commented on #53
hdf5read? This is from singfel - in io.h

[2016-09-14 08:54] SergeyYakubov commented on #53
is it relevant for all other variables (setEnergyFromFile,setFocusFromFile,...)?

[2016-09-14 09:02] CFGrote commented on #53
not sure. can you make a list of all candidates, then i'll find out which one require a fix

[2016-09-14 09:11] SergeyYakubov commented on #53
Probably they don't as the program do not complain :).
It uses values from
/history/parent/detail/params/photonEnergy
/history/parent/detail/misc/xFWHM
/history/parent/detail/misc/yFWHM

[2016-09-14 09:11] CFGrote commented on #53
ok, i;ll check nevertheless

[2016-09-14 09:16] CFGrote commented on #53
no, these are all scalars in old and new files

[2016-09-14 10:52] CFGrote commented on #53
i deployed your fix by adding your radiationDamageMPI.cpp file to patches and copy over the original radiationDamageMPI.cpp. This obsoletes the old patch for radiationDamageMPI.cpp. A better solution would be to pull singfel directly from the repository (git@bitbucket.org:racnets/singfel.git, forked from git@bitbucket.org:chunhongyoon/singfel.git) and apply all patches there. i tried this but link

[2016-09-14 10:56] CFGrote opened #54 "Fix singfel build"
Currently, singfel sources are downloaded from a db link, this sucks. better would be to download from repo git@bitbucket.org:chunhongyoon/singfel.git (@chuckie82 's original) or git@bitbucket.org:racnets/singfel.git (my fork).
all patches from singfel's CMakeLists.txt should be applied upstream and removed from our build system.

[2016-09-14 11:09] SergeyYakubov commented on #53
looks ok

[2016-09-14 11:09] #53 closed, assigned to CFGrote, SergeyYakubov

[2016-09-15 20:56] CFGrote commented on #54
use singfel in the eucall-software repo

[2016-09-15 20:57] CFGrote commented on #54
always run Tests/python/functest/SimExTest/Backengines/singfel/singfelTest.py to check if old code results are reproduced

[2016-09-15 20:58] CFGrote opened #55 "Add functest to CI"

[2016-09-15 21:10] CFGrote commented on #39
wth
while trying to take a look at the core file (that was supposedly generated according to the error msg), i dit a
`ulimit -c unlimited` (this is required on newer ubuntus to ensure core dumps are actually generated )

guess what, afterwards, the segfault did not turn up anymore.

so this one is effectively fixed. however, as above posts indicate, sth. must be odd, so be aware if this one in som

[2016-09-16 12:00] CFGrote commented on #55
put on hold because hard tests fail probably due to hardware dependent small differences in numerical results.

[2016-09-16 12:00] #55 closed, assigned to CFGrote

[2016-09-21 07:38] SergeyYakubov commented on #54
done (except last comment)

[2016-09-21 07:38] #54 closed, assigned to SergeyYakubov

[2016-09-21 07:38] #24 closed, assigned to nobody

[2016-09-30 07:30] SergeyYakubov opened #56 "simex may fail after changes in basic calculators"
At the moment we download basic calculators from other sources (wpg, recon, s2e). As soon as something is wrong with them, fresh simex installation/tests can fail, although it might have worked just 5 min ago and nothing has been changed in simex itself. This is confusing and unpredictable.

We could put this software to eucall-software where we have more control. Alternatively, we can download no

[2016-09-30 07:36] CFGrote commented on #56
I like the idea and thought about this a while back. The problem is that many of our 3rd party codes are not licensed (in particular recon and s2e). I'll try and ask the maintainers to put licenses on their codes. another option (for s2e) would be to copy the handful of files over to  simex and get rid of s2e. that would probably be ok with the s2e developers.

[2016-09-30 07:43] SergeyYakubov commented on #56
and what with WPG? It itself may change anytime and SRW may change as well. We could use fixed release version in this case, would need to ask the maintainers to create them after important and verified changes.

[2016-09-30 07:45] CFGrote commented on #56
wpg has an open source license. i'm fine with cloning it on simex, put
some unittests on it (i can do that) and merge in changes in main repo
once in a while.

carsten

On 09/30/2016 09:43 AM, SergeyYakubov wrote:

##

Dr. Carsten Fortmann-Grote
Scientist for Scientific Simulations / Wissenschaftler fuer
wissenschaftliche Simulationen
European XFEL GmbH
Holzkoppel 4
22869 Schenefeld
Germany

Phone

[2016-10-05 12:04] ax3l commented on #39
but did you change something upstream? Otherwise there are more `ulimit`s that you disable at the same time, e.g., heavy usage of file handles, etc. - which we might be aware of. Did this also fix the initially reported `segfault`?

[2016-10-05 12:11] CFGrote commented on #39
i still get it sometimes, but not every time, as before. so, no it's not
fixed

carsten

On 10/05/2016 02:04 PM, Axel Huebl wrote:

##

Dr. Carsten Fortmann-Grote
Scientist for Scientific Simulations / Wissenschaftler fuer
wissenschaftliche Simulationen
European XFEL GmbH
Holzkoppel 4
22869 Schenefeld
Germany

Phone: +49 (0)40 8998-5603
Fax:   +49 (0)40 8998-1905
Email: carsten.grote@xfel.eu
Web:

[2016-10-05 12:16] ax3l commented on #39
so let us reopen the issue ;)

[2016-10-06 08:43] CFGrote opened #57 "Cleanup EMC and DM"
EMC and DM analyzers define a lot of utility functions, some of them are duplicated in EMCCaseGenerator.py and DMPhasing.py Move them to ReconUtilities.py and clean them up.

[2016-10-06 08:44] CFGrote commented on #30
done

[2016-10-06 08:44] #30 closed, assigned to CFGrote

[2016-10-06 08:45] #51 closed, assigned to CFGrote

[2016-10-06 12:18] CFGrote opened #58 "PlasmaXRTSCalculator improvements"
- Calculate electron density, avg. charge, and ion density consistently when only two of these are specified.
- Use all information in the pulse, not only the spectrum

[2016-10-06 12:48] bussmann commented on #58
We should see how parataxis and other tools can provide these aspects to avoid duplication.

[2016-10-07 09:00] CFGrote opened #59 "Move parameter classes to calculator modules"

[2016-10-07 09:01] CFGrote opened #60 "Hook up Detector sim X-CSIT"
Interface X-CSIT through simex_platform. This will require Karabo!!

[2016-10-07 09:02] CFGrote opened #61 "Raytracing in simex_platform"
Make  Calculator and data interfaces for Shadow3 and optionally XRT

[2016-10-07 09:03] CFGrote opened #62 "Interface Esther Rad-Hydro"
Make Calculator and data interface for the 1D Rad-hydro code Esther using RB's input file generator.

[2016-10-11 13:53] CFGrote opened #63 "Resolve optimized srw issues"
After respective issues in wpg have been resolved, fix wpg installation in simex such that always uses optimized srw. pick a stable wpg release/commit and always pull that in at compile time.

[2016-10-11 14:18] CFGrote opened #64 "Port doc to sphinx and improve"
- Port the documentation system to sphinx
- Autobuild the documentation using travisCI
- Improve introduction and installation guide

[2016-10-11 21:35] CFGrote opened #65 "Tutorial"
Add a tutorial section to the manual. Tutorials needed on:
- [x] SPI
- [x] Rad-Hydro
- [x] XRTS
- [x] Wave Propagation
- [x] pdb query

[2016-10-11 21:38] CFGrote opened #66 "Expose data analysis features"
data analysis for intermediate results currently lives in scripts distributed over the entire project.
these should be consolidated. consider adding analysis capabilities to calculators or make separate analysis tools (OO).

[2016-10-12 08:58] samoylv commented on #65
@CFGrote with pdb did you mean protein of photon database?

[2016-10-12 10:33] CFGrote commented on #65
protein

On 10/12/2016 10:58 AM, samoylv wrote:

##

Dr. Carsten Fortmann-Grote
Scientist for Scientific Simulations / Wissenschaftler fuer
wissenschaftliche Simulationen
European XFEL GmbH
Holzkoppel 4
22869 Schenefeld
Germany

Phone: +49 (0)40 8998-5603
Fax:   +49 (0)40 8998-1905
Email: carsten.grote@xfel.eu
Web: www.xfel.eu

Managing Directors: Prof. Dr. Massimo Altarelli, Dr. Claudia Burger

R

[2016-10-12 10:37] CFGrote commented on #65
but actually both should be covered in a doc/tutorial.

On 10/12/2016 10:58 AM, samoylv wrote:

##

Dr. Carsten Fortmann-Grote
Scientist for Scientific Simulations / Wissenschaftler fuer
wissenschaftliche Simulationen
European XFEL GmbH
Holzkoppel 4
22869 Schenefeld
Germany

Phone: +49 (0)40 8998-5603
Fax:   +49 (0)40 8998-1905
Email: carsten.grote@xfel.eu
Web: www.xfel.eu

Managing Directors: Pro

[2016-10-12 11:08] CFGrote opened #67 "Download FEFF8.5L(ite) and add to build system as external dependency"
Here's the link: http://leonardo.phys.washington.edu/feff/Bin-Source-feff8Lite/Source/feff85L.f
- [x] Add to eucall-software
- [x] Add cmake to feff
- [x] build in simex_platform using cmake, support MKL, use ifort, if present.. there's a typo in the code, has to be fixed.

[2016-10-12 11:11] CFGrote opened #68 "Write a wrapper class for FEFF"
- [x] Write a python class XRayAbsorptionCalculator(AbstractPhotonInteractor) that wraps FEFF8.5L.
- [x] Devise strategy how to setup the various feff input( file)s.
- [x] Parameter class and defaults
- [x] tmp dir for execution (input files have to be in same dir as executable ... ;((
- [x] read results and store in mem/hdf5 file

[2016-10-12 11:15] SergeyYakubov commented on #67
1. Better would be to put it to simex_software github and download it during installation.
2. Link to MKL, ifort? What if there is no MKL and ifort?

[2016-10-12 11:22] CFGrote commented on #67
ok for 1., if no intel, then use gfortran, of course

[2016-10-12 14:22] CFGrote commented on #67
@SergeyYakubov, can you review 7273b41c ?

thanks.

[2016-10-13 05:06] SergeyYakubov commented on #67
Yes.

Can you open me write access to feff8.5light

On 12/10/16 16:22, Carsten Fortmann-Grote wrote:

[2016-10-13 08:20] SergeyYakubov commented on #67
done.

[2016-10-13 08:20] #67 closed, assigned to nobody

[2016-10-13 21:27] CFGrote opened #69 "Converter for pdb/xyz/cif/s2e-h5 formats to and from feff-atoms using openbabel"
openbabel (github.com/openbabel) is a library for conversion between various structure formats. Unfortunately, feff-atoms are not supported. the openbabel api is well documented and it should not be too hard to add the feff-atoms format. nice to have.

[2016-10-26 12:36] CFGrote opened #70 "use dragonfly for emc"
https://github.com/duaneloh/Dragonfly

[2016-10-26 12:49] CFGrote commented on #70
- [ ] Add dragonfly to external library
- [ ] Investigate IO
- [ ] Write Calculator that uses Dragonfly
- [ ] Testing with s2E case data

[2016-10-27 10:42] CFGrote commented on #20
@SergeyYakubov : review attached.
Good work, few comments:
- need testing.
- please document at typical use case, how will the user apply the parallel execution? depending on the answer to this one, i might have more comments.
- add more code comments, pleeeeeeeeeeeaaaaaaaaaaaaase

[review4b9cbff.patch.txt](https://github.com/eucall-software/simex_platform/files/555524/review4b9cbff.patch.txt)

[2016-10-27 13:19] SergeyYakubov commented on #20
**Basic idea**
Each calculator is itself responsible for starting his backengine in parallel.

**To start simex in parallel user have to**
1. Similar to a serial job create a python script for simex workflow.
2. Allocate compute resources. Whether it is a batch or interactive job.
3. At this stage the list of allocated resources is known. What we need is a list of nodes. In case of SLURM it is in

[2016-10-27 13:26] CFGrote commented on #20
ok. sounds straightforward. do you want to infer/guess the relevant env parameters at build time or at runtime? i guess for small personal clusters, the former makes sense while for big  hpc clusters like maxwell, the latter because available resources vary.

[2016-10-27 13:31] SergeyYakubov commented on #20
I would not distinguish between clusters. Should be universal. So, always runtime. If SIMEX_JOB_NODELIST is empty and checking known SLURM, moab, etc variables does not help we can fire _mpirun hostname_ which should give a list of nodes, then ssh to each node and get number of cores. Something like that.

[2016-10-27 13:32] CFGrote commented on #20
ok. we should just document all this very well.

[2016-10-27 13:34] SergeyYakubov commented on #20
Yes. But in most cases user does not need to do anything. Just start his script. And for developers we'll make it easy by providing function to get all this information.

[2016-10-27 15:47] bussmann commented on #20
Guys, we should talk...

[2016-11-14 22:22] CFGrote commented on #64
done

[2016-11-14 22:22] #64 closed, assigned to CFGrote

[2016-11-17 14:36] #63 closed, assigned to nobody

[2016-12-08 08:18] CFGrote opened #71 "Adjust SingFELPhotonDiffractor"
The singFEL backengine now produces one hdf5 file per mpi process. Some adjustments in the python frontend might be neccessary.

[2016-12-08 08:19] CFGrote opened #72 "Adjust EMC calculator for changes in diffraction output structure"
Since the recent changes in the singFEL backengine (one file per mpi process), EMC has  to be adjusted to still be able to read the diffraction data.

[2016-12-08 09:55] CFGrote opened #73 "Documentation improvements"
- [x] Docker installation and usage
- [x] Mock workflow a la simS2E
- [x] Usage of beamlines from beamline collection (Utilities.WPGBeamlines)

[2016-12-08 14:21] CFGrote commented on #71
Needed one fix in singfel (a110169b73bc338b791b2371302601d2fc8d1a49) and one test fix.

[2016-12-12 11:56] CFGrote commented on #71
ready for review

[2016-12-12 11:56] CFGrote commented on #72
ready for review

[2016-12-13 15:41] CFGrote commented on #73
@buzmakov, @samoylv, you can get a first glance at the tutorial in branch doc, commit cef78e9. To build the doc, go to Sources/doc/, do $> make html and open build/html/index.html in a web browser.

[2016-12-14 11:24] SergeyYakubov commented on #71
looks ok

[2016-12-14 11:24] #71 closed, assigned to SergeyYakubov

[2016-12-14 12:09] SergeyYakubov commented on #72
Seems to work, checked it on the cluster. Should I merge it with develop? Will it also work with old singfel? I could merge and see if tests with singfel 0.1 work. Than create singfel 0.2 and switch to it.

[2016-12-14 12:20] CFGrote commented on #72
should work with old and new diffr out files.

carsten

On 12/14/2016 01:09 PM, Sergey Yakubov wrote:

--
Dr. Carsten Fortmann-Grote
Scientist for Scientific Simulations / Wissenschaftler fuer
wissenschaftliche Simulationen
European XFEL GmbH
Holzkoppel 4
22869 Schenefeld
Germany

Phone: +49 (0)40 8998-5603
Fax:   +49 (0)40 8998-1905
Email: carsten.grote@xfel.eu
Web: www.xfel.eu

Managing Director

[2016-12-14 12:36] SergeyYakubov commented on #72
can you merge it? It has 2 conflict files in tests, I'm not sure how to resolve them?

[2016-12-14 12:41] CFGrote commented on #72
yes, i'll merge.

carsten

On 12/14/2016 01:36 PM, Sergey Yakubov wrote:

--
Dr. Carsten Fortmann-Grote
Scientist for Scientific Simulations / Wissenschaftler fuer
wissenschaftliche Simulationen
European XFEL GmbH
Holzkoppel 4
22869 Schenefeld
Germany

Phone: +49 (0)40 8998-5603
Fax:   +49 (0)40 8998-1905
Email: carsten.grote@xfel.eu
Web: www.xfel.eu

Managing Directors: Prof. Dr. Massimo Altarell

[2016-12-14 12:42] SergeyYakubov commented on #72
thanks!

[2016-12-15 12:57] CFGrote opened #74 "Refactor loadPDB"
make separate function that does the pdb query.

[2016-12-15 13:14] CFGrote opened #75 "data missing in wpg output"
the pmi module (xmdyn) requires datasets /misc/xFWHM and /misc/yFWHM from the propagation output files.
@samoylv, @buzmakov , did you make changes to wpg output format? if so, this should be communicated and dataformat version (dataset /version) should get incremented.

[2016-12-15 13:42] buzmakov commented on #75
Приходил Карстен,
просил добавит поля в  стандартное сохранение WPG.
Что в них записывать?

АБ

On Thu, Dec 15, 2016 at 2:14 PM, Carsten Fortmann-Grote <
notifications@github.com> wrote:

[2016-12-15 13:44] CFGrote commented on #75
@buzmakov, sorry but your last comment is rendered in kyrillic letters and my russian is a bit dated ;)

[2016-12-15 13:48] buzmakov commented on #75
Sorry, for that.
Just internal discussion how to fix it correctly.

On Thu, Dec 15, 2016 at 2:44 PM, Carsten Fortmann-Grote <
notifications@github.com> wrote:

[2016-12-15 13:48] CFGrote commented on #75
thought so ...

On 12/15/2016 02:48 PM, Alexey Buzmakov wrote:

--
Dr. Carsten Fortmann-Grote
Scientist for Scientific Simulations / Wissenschaftler fuer
wissenschaftliche Simulationen
European XFEL GmbH
Holzkoppel 4
22869 Schenefeld
Germany

Phone: +49 (0)40 8998-5603
Fax:   +49 (0)40 8998-1905
Email: carsten.grote@xfel.eu
Web: www.xfel.eu

Managing Directors: Prof. Dr. Massimo Altarelli, Dr. Cla

[2016-12-15 13:51] SergeyYakubov commented on #75
zumindest keine Schimpfwörter :)

[2016-12-15 13:52] buzmakov commented on #75
@samoylv

Liuba should we just copy this code from prop module to regular WPG wavefront?
[code]

[2016-12-15 14:33] CFGrote commented on #75
i found it myself. the missing datasets are added in the propagate
function in propagateSE.py in module prop.

i'll adjust the corresponding function in simex.

On 12/15/2016 02:48 PM, Carsten Fortmann-Grote wrote:

--
Dr. Carsten Fortmann-Grote
Scientist for Scientific Simulations / Wissenschaftler fuer
wissenschaftliche Simulationen
European XFEL GmbH
Holzkoppel 4
22869 Schenefeld
Germany

Phone

[2016-12-15 14:38] samoylv commented on #75
well, in principle we could add the fields in standard set of wavefront
patameters, but I would use standard deviation instead of FWHM then. It is
more physical and robust value and we can discuss with Zoltan if pmi can
use 2*RMS instead of FWHM

On Thu, Dec 15, 2016 at 3:33 PM, Carsten Fortmann-Grote <
notifications@github.com> wrote:

[2016-12-15 14:42] CFGrote commented on #75
no need to involve zoltan, the reading of wpg files is done entirely in
simex python code.

On 12/15/2016 03:38 PM, samoylv wrote:

--
Dr. Carsten Fortmann-Grote
Scientist for Scientific Simulations / Wissenschaftler fuer
wissenschaftliche Simulationen
European XFEL GmbH
Holzkoppel 4
22869 Schenefeld
Germany

Phone: +49 (0)40 8998-5603
Fax:   +49 (0)40 8998-1905
Email: carsten.grote@xfel.eu
Web: w

[2016-12-16 08:17] CFGrote opened #76 "Document parallel calculators"
- [ ] Provide general information about parallel execution in the manual
- [ ] Add specific information pertaining to parallel execution to each relevant calculator class
- [ ] Add a tutorial showing how to best use parallel environments

[2016-12-16 09:45] CFGrote opened #77 "Update wpg beamlines used for spi cases"
See samoylv/WPG #98

[2016-12-19 21:02] CFGrote commented on #73
1. iteration done, but beamlines need update (#77).

[2016-12-19 21:02] #73 closed, assigned to CFGrote

[2016-12-19 21:03] CFGrote commented on #75
fixed in WavePropagator class in SImEx

[2016-12-19 21:03] #75 closed, assigned to nobody

[2016-12-19 22:05] CFGrote commented on #74
done in  6a0d945d8ab544f9936a22801dfc5fd4906bbd6d

[2016-12-19 22:05] #74 closed, assigned to nobody

[2016-12-19 22:06] #72 closed, assigned to SergeyYakubov

[2016-12-21 08:11] CFGrote opened #78 "Publish 3fs SPI simulations"

[2016-12-21 08:33] CFGrote opened #79 "Demonstrate science case #2 (HPL)"
We demonstrate the interoperability of simulations for

- XFEL source (FAST/XPD)
- Coherent Wave Propagation (WPG)
- PIC (optical) Photon-Matter interaction (PIConGPU)
- scattering/diffraction (paraTAXIS)

[2016-12-21 08:37] CFGrote opened #80 "Demonstrate science case #3 (WDM)"
Demonstrate a simulation of

- Synchrotron radiation (ShadowOui)
- WDM creation (Rad-Hydro)
- X-ray absorption spectroscopy (FEFF)

in simex_platform

[2016-12-21 08:40] CFGrote opened #81 "Demonstrate science case #4 (Plasma source application)"
Demonstrate simulation of
-X-ray creation in HPL plasma
- Propagation (?)
- X-ray scattering from plasma sample (XRTS or paraTAXIS) or XAS (FEFF)

[2016-12-21 08:47] CFGrote opened #82 "Couple XRTS to Rad-Hydro"
So far, the XRTS calculator calculates a scattering spectrum from  given plasma parameters (electron density, atomic species, average ionization, electron temperature, ion temperature. The scattering spectrum can then be convoluted with the source spectrum and the detector point spread function.

To facilitate science application No. 4 (gh issue #81), we need the following capabilities

- [ ] Inst

[2016-12-21 08:48] CFGrote commented on #58
See also #82 .

[2016-12-21 08:52] CFGrote opened #83 "Couple FEFF calculator to PMI calculator"
So far, the FEFFCalculator for EXAFS produces an EXAFS signal from given atoms, there's no interaction with the PMI calculation (Rad-Hydro). The following tasks must be done to enable science case No. 3 (WDM) in #80 .

- [ ] Investigate how this coupling must be treated (might require additional electronic structure code/MD to operate on Rad-Hydro output)
- [ ] Implement the interface, i.e. FEFFCa

[2016-12-21 09:01] CFGrote opened #84 "Wavefront - Photons conversion: 2nd iteration"
The conversion from wavefront to photons (or rays) has to be improved: The direction of photons must be calculated from the curvature of the wavefront, i.e. it stands normal to the wavefront. At the moment, we assign the same direction (parallel to z) to all photons.

- [ ] Investigate state-of-the-art solution for this problem
- [ ] Implement in openPMD utility that does the conversion
- [ ] As a

[2016-12-21 09:10] CFGrote opened #85 "Write the milestone document"
Milestone 4.3 must be verfied through written report documenting the examples
- [ ] Write the report

[2016-12-21 09:15] CFGrote opened #86 "Publish the simulated data"
In fulfillment of D4.4, we are asked to provide the simulated data from plasma and non-plasma samples. I suggest putting these on some kind of database repository and publish for open data access. They can then serve the community as benchmark data, input for further simulations, or verification of other codes

[2016-12-21 09:16] CFGrote commented on #86
- [ ] Organize and document the simulated data in hierarchical storage (hdf).
- [ ] Investigate open access archiving solutions
- [ ] publish the data

[2016-12-21 09:22] CFGrote opened #87 "Publish simulation workflows"
Deliverable D4.3 is the "Interoperability of simulation workflows." Since the means of verification is not specified, I suggest we publish (e.g. via zenodo) the  commits/tags/versions of all the codes we used to generate the simulation example data.

[2016-12-21 09:25] bussmann commented on #86
Fully agree. For the plasma side it would make sense to do this based on openPMD, but we need to discuss additional meta data that describes the synthetic experiment well enough.

HZDR would be willing to host the data base for the plasma side and set up open access to it.

We should think of making the data citable via Zenodo and also provide the software environment with which it was created.

@

[2016-12-21 09:32] CFGrote opened #88 "Integrate GENESIS/OCELOT in simex_platform"
- [x] Install standalone
- [x] Add to external libraries in simex_platform
- [x] Make a GENESIS or OCELOTCalculator

[2016-12-21 09:34] CFGrote opened #89 "Learn how to simulate Undulators with GENESIS/OCELOT"
- [x] Work through a tutorial (OCELOT)
- [x] discuss issues/results with Geloni group
- [x] Investigate options for electron data input

[2016-12-21 09:36] CFGrote opened #90 "Convert PIC output (openPMD) to format required by OCELOT"
- [x] Depending on OCELOT features and capabilities, convert output from PIC simulations in openPMD format to sth OCELOT can read and feed into an undulator simulation

[2016-12-21 09:39] CFGrote commented on #86
agree, see #87

On 12/21/2016 10:25 AM, Michael Bussmann wrote:

--
Dr. Carsten Fortmann-Grote
Scientist for Scientific Simulations / Wissenschaftler fuer
wissenschaftliche Simulationen
European XFEL GmbH
Holzkoppel 4
22869 Schenefeld
Germany

Phone: +49 (0)40 8998-5603
Fax:   +49 (0)40 8998-1905
Email: carsten.grote@xfel.eu
Web: www.xfel.eu

Managing Directors: Prof. Dr. Massimo Altarelli, Dr. Cl

[2016-12-21 09:45] CFGrote commented on #79
Ideally, this task would be accomplished by submitting a paper

[2016-12-21 09:45] CFGrote commented on #80
Ideally, this task would be accomplished by submitting a paper

[2016-12-21 09:51] ax3l commented on #86
sounds great!

My only concern is, that we still lack the whole infrastructure to assign DOIs and forward data outside of the lab. There is currently no way in production to share data sets (e.g., as we know it from the CERN detector communities: http://opendata.cern.ch/, source code of [their science gateway](https://github.com/cernopendata)) in a way that I would find satisfying for a minimum of

[2016-12-21 09:53] ax3l commented on #86
Of couse, we can push "small" data sets below 50GB to Zenodo in the meantime and that will be perfectly fine for the sample data sets we look for right now.

[2016-12-21 10:05] bussmann commented on #86
@ax3l, baby steps! First, start small, then go large.

[2016-12-27 16:38] CFGrote opened #91 "Installing simex_platform .deb on ubuntu14.04, boost dependency"
this one was reported by  a user:

 % sudo dpkg --install simex-0.2.0-Ubuntu16.04.deb
Selecting previously unselected package simex.
(Reading database ... 396984 files and directories currently installed.)
Preparing to unpack simex-0.2.0-Ubuntu16.04.deb ...
Unpacking simex (0.2.0) ...
dpkg: dependency problems prevent configuration of simex:
 simex depends on libboost-all-dev (>= 1.55); however:

[2016-12-27 18:18] robnagler commented on #91
FWIW,

[code]

Vagrant box: kurron/xenial-server-docker     (virtualbox, 5.1.12)

[2017-01-02 09:53] SergeyYakubov commented on #91
It is not a bug. Simex debian package is for version 16.04, not for 14.04. The problem is that the standard boost package for 14.04 is too old, so the dependency cannot be satisfied. What we can do:
1. Nothing. Recommend user to update Ubuntu, or install simex manually, or use Docker.
2. Create a package for 14.04 without boost. Boost should be then installed manually and be found-able by SimEx.
3

[2017-01-02 10:53] SergeyYakubov commented on #91
ok, there seems to be a standard libboost1.55-all-dev in ubuntu 14.04. So in 3) we would not need to create a package ourselves, just change dependency to libboost1.55-all-dev.

But I'm still not sure if we should support the old(er) Ubuntu version.

[2017-01-25 10:12] ax3l commented on #84
@n01r can you please test that in ParaTAXIS?

[2017-01-25 16:18] samoylv commented on #84
@CFGrote

it is true for approx. pure monochromatic beam, short pulses have always finite bandwidth. So, must photons energy / wavelength BW be taken into account for rays?

[2017-01-25 20:35] CFGrote commented on #84
i would say yes, finite bw must also be taken into account. of course, one
ray(photon) has a precise energy, so the ensemble of rays must be generated
according to the spectrum.

On 01/25/2017 05:18 PM, samoylv wrote:

--
Dr. Carsten Fortmann-Grote
Scientist for Scientific Simulations / Wissenschaftler fuer
wissenschaftliche Simulationen
European XFEL GmbH
Holzkoppel 4
22869 Schenefeld
Germany

Ph

[2017-01-26 10:25] bussmann commented on #84
There's a lot of stuff to consider. In our case with Parataxis/PIConGPU a single photon will be particle-like and will have the attributes k-vector (gives wavelength and direction of momentum), relative phase (to the EM wave) and (in the future) polarization. You will need to locally set the k-vector direction as a normal on the local wavefront, you encode the spatial and temporal coherence length

[2017-02-01 09:54] CFGrote commented on #79
@bussmann, @ax3l, @n01r , can we estimate a timeline for this one? is middle of march feasible to have a paper draft?

[2017-02-01 10:32] bussmann commented on #79
That's a bit tight. We're all at GSI and discuss this later and then come back to you.

[2017-02-01 10:36] CFGrote commented on #79
thanks.

[2017-02-14 21:43] #77 closed, assigned to nobody

[2017-02-21 22:01] #88 closed, assigned to nobody

[2017-02-21 22:02] #90 closed, assigned to nobody

[2017-02-22 05:01] #89 closed, assigned to nobody

[2017-02-27 15:28] CFGrote opened #92 "Laser parameters and _serialize()"

[2017-02-27 15:28] CFGrote opened #93 "Output directory"

[2017-02-27 15:28] CFGrote opened #94 "Plotting utilities for RadHydro output"
[ x ] P vs t
[ x  ] v vs t
[ x ] P vs x,t contour
[ x ] T vs. P

[2017-02-27 15:29] CFGrote opened #95 "Complex target"

[2017-02-27 15:29] CFGrote opened #96 "Expert user mode parameters"

[2017-02-27 15:43] CFGrote opened #97 "Hookup to FEFF"
Workflow that couples rad-hydro to DFT to FEFF

[2017-02-27 18:31] bussmann commented on #95
Could you please elaborate?

[2017-02-27 18:31] bussmann commented on #92
Could you please elaborate?

[2017-02-27 19:45] CFGrote commented on #92
related to Rad-Hydro scripting interface. Richard Briggs is here for the
week and i'm trying to structure the tasks ahead.

carsten

On 02/27/2017 07:31 PM, Michael Bussmann wrote:

--
Dr. Carsten Fortmann-Grote
Scientist for Scientific Simulations / Wissenschaftler fuer
wissenschaftliche Simulationen
European XFEL GmbH
Holzkoppel 4
22869 Schenefeld
Germany

Phone: +49 (0)40 8998-5603
Fax:   +49 (

[2017-02-27 21:13] bussmann commented on #92
Would be great to streamline with the short pulse stuff.

[2017-02-28 10:20] richardbriggs commented on #95
How to implement multi-layer targets for the long pulse experiments. Currently, the easiest solution (and typical experiments) consist of ablating material, sample and window (or no window material). Eg. CH, Sn, LiF, 3 layers. or C, Sn, C, 3 layers.

In some long pulse experiments there is a need for a heat shield from teh X-ray plasma generation during ablation, that would need very thin layers o

[2017-02-28 10:23] richardbriggs commented on #96
Esther has many start up (in french: DEMARRAGE) key options for certain parameters. Expert user mode would take advantage of including those keys for users who are more experienced with the RadHydro program.

[2017-03-02 13:05] #94 closed, assigned to nobody

[2017-03-02 13:05] #96 closed, assigned to nobody

[2017-03-02 13:06] #92 closed, assigned to nobody

[2017-03-02 13:06] #93 closed, assigned to nobody

[2017-03-02 13:08] richardbriggs opened #98 "Determine laser parameters from experimental laser source (e.g. ESRF laser)"

[2017-03-17 17:43] CFGrote opened #99 "fix dm, emc sources"
DM and EMC download links not working, fix asap

[2017-03-17 17:44] CFGrote opened #100 "tutorial not working in master"
a user reported on missing group in prop output, detected by pmi.

[2017-03-17 17:45] CFGrote opened #101 "reflect changes in propagation codes in tutorial and doc"
make sure tutorials work after changes to propagation calculators, demonstrate beamline usage

[2017-03-17 20:52] CFGrote commented on #100
fixed in develop as per 5534c220

[2017-03-17 20:53] #100 closed, assigned to nobody

[2017-03-17 20:53] CFGrote commented on #101
done as per b519f5d10

[2017-03-18 21:32] CFGrote opened #102 "add xraydb to cmake build"
xraydb is not available from pip, install at build time with cmake

[2017-03-18 21:34] #101 closed, assigned to nobody

[2017-03-18 21:34] #99 closed, assigned to CFGrote

[2017-03-18 23:16] CFGrote commented on #102
done in 04c296d5

[2017-03-18 23:17] #102 closed, assigned to CFGrote

[2017-03-22 16:06] CFGrote opened #103 "Improve diagnostics scripts for prop, pmi, and diffr and other calculators"
There exist various data analysis scripts in various places, different naming conventions, overlapping areas of application. Clean up and implement:
- [x] unified naming
XFELPhotonAnalyzer
XMDYNPhotonMatterInteractionAnalyzer
SingFELPhotonDiffractionAnalyzer

- [x] unified cli interface
Call from CL with input file or dir and name of analysis function (e.g. photon_statistics, plot_pattern, ...)

-

[2017-03-29 08:49] CFGrote opened #104 "dill does not see local modules"
attached script fails because dill does not see the local module (exfel_spb_kb_beamline.py).
temp fix: add $PWD to $PYTHONPATH. Inserting into sys.path does not help.

Curiously, in an interactive session, the following works

[exfel_spb_kb_beamline.py.txt](https://github.com/eucall-software/simex_platform/files/878399/exfel_spb_kb_beamline.py.txt)

[run_prop.py.txt](https://github.com/eucall-soft

[2017-04-03 07:50] SergeyYakubov commented on #104
Hmm. Works for me.

################################################################################
Setup initial wavefront.
Load /home/yakubov/projects/Eucall/test/source.h5
Saving propagated wavefront to /home/yakubov/projects/Eucall/test/ap_kb.h5
Saving history.
ALL DONE.
################################################################################

Did you already commit this temp fix?

[2017-04-03 08:46] CFGrote commented on #104
no, i don't want to pollute my PYTHONPATH, so i do this by hand each time i run sth. with a local import

[2017-04-03 09:20] SergeyYakubov commented on #104
For me it works without changing PYTHONPATH. How does your output looks?

[2017-04-03 09:36] CFGrote commented on #104
i have to submit the paper today, will provide more details in afternoon.

carsten

On 04/03/2017 11:20 AM, Sergey Yakubov wrote:

--
Dr. Carsten Fortmann-Grote
Scientist for Scientific Simulations / Wissenschaftler fuer
wissenschaftliche Simulationen
European XFEL GmbH
Holzkoppel 4
22869 Schenefeld
Germany

Phone: +49 (0)40 8998-5603
Fax:   +49 (0)40 8998-1905
Email: carsten.grote@xfel.eu
Web: ww

[2017-04-03 10:10] CFGrote commented on #104
WITHOUT $PWD IN $PYTHONPATH
=============================
grotec@max-exflg001:~/Projects/wpg_kb_beamline
$> echo $PYTHONPATH
/home/grotec/lib64/python2.7/site-packages:/home/grotec/Codes/SIMEX/develop/Sources/python:/home/grotec/Codes/SIMEX/develop/lib/python2.7:/usr/lib64/python2.7/site-packages/mpich:/home/grotec/.local/lib/python2.7:/home/grotec/.local/lib/python2.7/site-packages
grotec@max-exf

[2017-04-03 11:22] SergeyYakubov commented on #104
Strange. Looks like it cannot find dump file in the current directory. After you add it to path it works. I changed to use full path to the file. Can you check if it helps, please?

[2017-04-03 11:59] CFGrote commented on #104
yep, that seems to fix it.

thanks!

[2017-04-03 11:59] #104 closed, assigned to CFGrote, SergeyYakubov

[2017-04-06 11:54] mmechelke opened #105 "Tutorial single particle simulation yields only diffraction patterns with a photon count of 0"
I work on the develop branch and followed all the steps as outlined in the tutorial, yet the total detected photon count is zero.

[code]

I already increased the number of (static) pmi snapshots used to calculate the diffraction pattern, but no difference. Is this the expected result?

[2017-04-06 12:17] CFGrote commented on #105
@mmechelke,
thanks a lot for your feedback.

the answer in short is yes and no ;)

the long answer is:
you only get 0.0021 photons on average (data/0000007/diffr). after
poissonization (data/0000007/data) this gives you an integer value of 0.

the real question is, why do you only get 0.0021 photons on average?
that's because the source and the propagation are made such that the
simulation is quic

[2017-04-06 12:20] mmechelke commented on #105
Thanks that would be great.

Martin

[2017-04-06 12:31] CFGrote commented on #105
you can get the data here:
https://docs.xfel.eu/share/page/context/mine/folder-details?nodeRef=workspace://SpacesStore/c0b483d5-6931-4343-b37d-4ab7e25ce58a

please read the acknowledgement for proper citation of this dataset.

thanks, carsten

On 04/06/2017 02:20 PM, mmechelke wrote:

--
Dr. Carsten Fortmann-Grote
Scientist for Scientific Simulations / Wissenschaftler fuer
wissenschaftliche Simula

[2017-04-07 11:13] #105 closed, assigned to nobody

[2017-04-07 20:44] CFGrote opened #106 "LCLS Project"
- [x]  Docker image has issues on lcls/stanford cluster
- [ ] Genesis calculator
- [ ] HZDR code for new singfel brainstorm
- [ ] Cretin code (S. Hau-Riege) for PMI

[2017-04-21 07:17] #91 closed, assigned to nobody

[2017-04-21 07:18] #103 closed, assigned to CFGrote

[2017-05-12 14:08] m-zacharias opened #107 "User manual: Missing software dependencies"
I tried to build simex_platform as described here https://eucall-software.github.io/simex_platform/ and come to believe that the list of minimally required software is incomplete. From what I've seen, I think the following need to be added:
* python-mpi4py
* python-periodictable

[2017-05-12 18:35] CFGrote commented on #107
hi malte,
thanks for posting this issue. it's very likely that we don't have all
requirements in particular those added during recent development steps.
although travis should already have caught this.

which branch did you base your build on?

carsten

Dr. Carsten Fortmann-Grote
Scientist for Scientific Simulations / Wissenschaftler fuer
wissenschaftliche Simulationen
European XFEL GmbH
Holzkoppe

[2017-05-12 20:19] SergeyYakubov commented on #107
We can point in documentation to the file requirements.txt, which contains up-to-date python requirements.

[2017-05-17 21:07] CFGrote opened #108 "Installation on CUDA enabled server fails"
e.g. on max-exflg001, max-display, building of singfel fails in cuda step.

[2017-05-17 21:15] SergeyYakubov commented on #108
we actually never checked if it works on GPUs at all.  Quickest solution - add a parameter not to use CUDA. Later  - try to make it work.

[2017-05-18 12:43] CFGrote opened #109 "CrystFEL pattern_sim Calculator"
Wrap pattern_sim from the crystFEL suite

Prototype stage
- [x] Parameters class
- [x] Calculator class
- [x] Tests
- [x] Demonstration (in unittests)

Refinement stage
- [x] Beam parameters
- [x] Source Spectrum
- [x] IO structure
- [x] Beam parameters from prop output

[2017-05-18 12:44] CFGrote opened #110 "SAXS/WAXS calculator"

[2017-06-23 07:05] CFGrote opened #111 "Task 4.2.2.1 XFEL source"
- [x] Usage example
- [x] Data format documentation
- [x] Produce data (Source field distribution)
- [x] Deposit data incl. DOI generation

[2017-06-23 07:06] CFGrote opened #112 "Task 4.2.2.2: SR Source"
- [ ] Usage example
- [ ] Data format documentation
- [ ] Produce data (Source intensity distribution)
- [ ] Deposit data incl. DOI generation

[2017-06-23 07:07] CFGrote opened #113 "Task 4.2.2.3: Plasma x-ray source"
- [ ] Usage example
- [ ] Data format documentation
- [ ] Produce data (Source intensity or field distribution)
- [ ] Deposit data incl. DOI generation

[2017-06-23 07:09] CFGrote opened #114 "Task 4.2.2.4: Coherent wavefront propagation"
- [x] Usage example
- [x] Data format documentation
- [x] Produce data (Focus field distribution, caustic)
- [x] Deposit data incl. DOI generation

[2017-06-23 07:10] CFGrote opened #115 "Task 4.2.2.5: X-ray tracing"
- [x] Usage example
- [x] Data format documentation
- [x] Produce data (Focus field distribution, caustic)
- [x] Deposit data incl. DOI generation

[2017-06-23 07:11] CFGrote opened #116 "Task 4.2.2.6: Rad. damage in biosamples"
- [x] Usage example
- [x] Data format documentation
- [x] Produce data (Molecular trajectory incl. form factors)
- [x] Deposit data incl. DOI generation

[2017-06-23 07:13] CFGrote opened #117 "Task 4.2.2.7: PMI: Plasmas"
- [x] Usage example
- [x] Data format documentation
- [x] Produce data (PIC data)
- [x] Deposit data incl. DOI generation

[2017-06-23 07:14] CFGrote opened #118 "Task 4.2.2.8: PMI - shock compression"
- [x] Usage example
- [x] Data format documentation
- [x] Produce data (rad-hydro dump)
- [x] Deposit data incl. DOI generation

[2017-06-23 07:16] CFGrote opened #119 "Task 4.2.2.9: Signal from optically thin sample"
Diffraction pattern from biomolecules
- [x] Usage example
- [x] Data format documentation
- [x] Produce data (diffraction patterns)
- [x] Deposit data incl. DOI generation

Crystal diffraction
- [x] Usage example
- [x] Data format documentation
- [x] Produce data (diffraction patterns, powder pattern)
- [ ] Deposit data incl. DOI generation

SAXS image from underdense plasma
- [x] Usage example
-

[2017-06-23 07:17] CFGrote opened #120 "Task 4.2.2.10: Signal from optically thick sample, XAFS on shock compressed matter"

[2017-06-23 07:18] CFGrote opened #121 "Task 4.2.2.10: Signal from optically thick sample"
SAXS image from overdense plasma
- [x] Usage example
- [x] Data format documentation
- [x] Produce data (SAXS images)
- [x] Deposit data incl. DOI generation

XAFS signal from shock compressed warm dense matter
- [x] Usage example
- [ ] Data format documentation
- [x] Produce data (XAFS spectrum)
- [ ] Deposit data incl. DOI generation

[2017-06-23 07:29] #120 closed, assigned to CFGrote

[2017-06-28 11:46] richardbriggs commented on #112
From the example OASYS workflow I have, the SR source seems fairly easy to implement. The number of rays, seed, undulator energy and delta energy are all set at the undulator module; also with the machine parameters : (size, divergence, undulator length).
![undulator](https://user-images.githubusercontent.com/20657974/27635651-25af5178-5c08-11e7-8e7f-5694f0c418ce.png)

[2017-07-31 13:44] JPBGoe opened #122 "RuntimeError in propagation.py from tutorial"
[*******]~/simex_tutorial% python propagation.py
WARNING:pyFAI.opencl.common:Unable to import pyOpenCl. Please install it from: http://pypi.python.org/pypi/pyopencl
initializing ocelot...
Parameters collected
Propagator build
Data read
Starting the backengine
WARNING:pyFAI.opencl.common:Unable to import pyOpenCl. Please install it from: http://pypi.python.org/pypi/pyopencl
initializing ocelot...
#

[2017-08-02 12:20] JPBGoe opened #123 "Missing histogram in SimEx Tutorial, Diffraction"
In the wiki 'SimEx Tutorial', in section 'Diffraction', in subsection 'Analyzing the results':

If
   $> diffr_diagnostics.py -S "range(1,11)" -P  ./diffr/<filename>.h5
is executed, no histogram is shown. Instead there is another image of the diffraction pattern.

[2017-08-28 13:13] richardbriggs commented on #121
This is done in essence for the X-ray absorption side. EXAFS modelling of a simple Fe foil has been carried out and we have demonstrated simulations of XANES at shock conditions in Raffa Torchio's 2016 paper [Scientific Reports 7(1) 26402 (2016)]. It will need some discussion on how best to incorporate the whole XANES/EXAFS simulation programs (beyond FEFF) into SIMEX.

[2017-08-31 07:45] CFGrote commented on #110
- [ ] Add SLADS code to external lib
- [ ] Test calculation
- [ ] Parameters class
- [ ] Calculator class
- [ ] Doc
- [ ] Demo

[2017-08-31 08:20] CFGrote commented on #110
Abandoned, SLADS sources not available, requires legacy openmpi version (1.6.5)
Can always do SAXS simulation with singfel.

[2017-08-31 08:20] #110 closed, assigned to nobody

[2017-09-01 14:11] richardbriggs commented on #118
https://doi.org/10.5281/zenodo.883106 for input files and output files of a 50 µm CH + 5 µm Fe experiment, with 6 ns flat top laser at 0.3 TW/cm**2

[2017-09-04 07:50] #111 closed, assigned to CFGrote

[2017-09-04 07:52] CFGrote opened #124 "SR to opmd converter: number of photons missing"
Write number of photons into mesh data in the opmd file generated from ShadowOUI output.

[2017-09-05 09:03] CFGrote commented on #78
Done:
https://xfel.tind.io/record/1442
http://dx.doi.org/10.1107/S2052252517009496

[2017-09-05 09:03] #78 closed, assigned to CFGrote

[2017-09-05 09:07] CFGrote commented on #124
Done (commit 15fa294e2948c01c10664654a80a55a269be2f90)

[2017-09-05 09:07] #124 closed, assigned to nobody

[2017-09-05 14:11] richardbriggs commented on #95
Have added the option of including 2 layers, before and after the sample layer.

Options are:

Number of layers = 1
Ablator

Number of layers = 2
Ablator + Sample

Number of layers = 3
Ablator + layer1 + sample

Number of layers = 4
Ablator + layer1 + sample + layer2

Can enhance later... but issue closed.

[2017-09-05 14:11] #95 closed, assigned to nobody

[2017-09-06 06:50] CFGrote opened #125 "update doc"
- [ ] Add new classes
- [ ] Layout

[2017-09-06 14:11] richardbriggs opened #126 "EstherParametersClass To-Do"
Need to ensure that each ablating material runs at optimum settings; this is the most crucial aspect of the hydrocode simulations. Documentation of each ablator and relevant laser conditions can be a useful tool to be included in the wiki. (i.e. What pressure can you achieve with different ablators for a variety of laser conditions? etc.).

[2017-09-06 21:44] #114 closed, assigned to CFGrote

[2017-09-06 21:45] #116 closed, assigned to CFGrote

[2017-09-07 13:08] CFGrote commented on #125
done (commit 5c147f5d)

[2017-09-07 13:08] #125 closed, assigned to nobody

[2017-09-07 19:24] #123 closed, assigned to nobody

[2017-09-07 19:24] CFGrote commented on #123
Fixed by commit 2db078c38

[2017-09-07 19:25] CFGrote commented on #122
Fixed in WPG upstream

[2017-09-07 19:25] #122 closed, assigned to nobody

[2017-09-07 19:26] #20 closed, assigned to SergeyYakubov

[2017-09-11 06:53] CFGrote commented on #112
Are you going to make a usage showcase for this? If not, I can do it. Same question for the propagation in Oasys ( #115 ).

[2017-09-11 07:24] CFGrote commented on #117
@n01r , @bussmann
hi guys, anything happening here? we're three weeks from the deadline and i would like to avoid a situation like  last time...

a short updated would be nice.

thanks

[2017-09-11 07:24] CFGrote commented on #121
@n01r , @bussmann
hi guys, anything happening here? we're three weeks from the deadline and i would like to avoid a situation like  last time...

a short updated would be nice.

thanks

[2017-09-11 07:25] CFGrote commented on #113
@n01r , @bussmann
hi guys, anything happening here? we're three weeks from the deadline and i would like to avoid a situation like  last time...

a short updated would be nice.

thanks

[2017-09-11 07:27] n01r commented on #121
I am extremely sorry for the delay! The simulations have been run - we're finalizing the report right now.

[2017-09-11 07:34] n01r commented on #113
I am extremely sorry for the delay! We're finalizing the report at this moment.

[2017-09-11 07:38] bussmann commented on #113
Dear Carsten,
We'll send in the Report today. I am very sorry for the delay. I was traveling the last 3 weeks and could not help with the final draft the way I wanted to.
Best, Michael 

-------- Ursprüngliche Nachricht --------
Von: Carsten Fortmann-Grote <notifications@github.com>
Datum: 11.09.17  09:25  (GMT+01:00)
An: eucall-software/simex_platform <simex_platform@noreply.github.com>
Cc: Micha

[2017-09-11 07:47] CFGrote commented on #113
no problem, glad to see it's coming along.

carsten

On Mon, 2017-09-11 at 07:38 +0000, Michael Bussmann wrote:

[2017-09-14 09:43] richardbriggs opened #127 "RadHydroAnalysis .jstor bug"
I found a bug trying to run the RadHydroAnalysis on an opmd.h5 file from iPython notebook. For MacOS i'm now running anaconda to run iPython notebook and the following jstor error occurs. I can't for the life of me understand how to fix this...

[code]

[2017-09-14 09:53] richardbriggs commented on #127
Nevermind... the .jstor file I edited didn't contain the new layer functions correctly. I made a new input file with layer1=None, layer2=None with the same parameters for the test simulation and it solved the problem.

[2017-09-14 09:53] #127 closed, assigned to CFGrote, richardbriggs

[2017-09-18 11:22] richardbriggs commented on #98
Laser intensity calculator added to Utilities.

[2017-09-18 11:22] #98 closed, assigned to nobody

[2017-09-18 11:24] richardbriggs commented on #62
Can this be closed now that we have the EstherExperimentConstruction calculator?

[2017-09-18 12:51] CFGrote commented on #62
i guess so, yes.

carsten

On Mon, Sep 18, 2017 at 11:24:18AM +0000, Richard Briggs wrote:

--
Dr. Carsten Fortmann-Grote
Scientist for Scientific Simulations / Wissenschaftler fuer wissenschaftliche Simulationen
European XFEL GmbH
Holzkoppel 4
22869 Schenefeld
Germany

Phone: +49 (0)40 8998-5603
Fax:   +49 (0)40 8998-1905
Email: carsten.grote@xfel.eu
Web: www.xfel.eu

Managing Directors: Prof. Dr

[2017-09-19 08:57] #62 closed, assigned to richardbriggs

[2017-09-19 09:02] richardbriggs commented on #126
- [ ] Allow user to set feathering options for low/high spatial resolution
- [ ] Add expert mode to EOS options (choose BLF or SESAME where available)
- [ ] Number of layers debugging to ensure the vacuum space is added correctly
- [x] Ensure flat top, quasi flat top, ramp pulse shapes are created properly in _serialize.

[2017-09-19 09:05] richardbriggs opened #129 "EstherParametersClass: To-Do and Enhancements"
Enhancements that are less critical but will be important for the ESRF high power laser project starting June 2018 (and for further user modification of experimental parameters etc.)

# Primary to-do
- [x] Add expert mode to EOS options (choose BLF or SESAME where available)
- [x] Allow user to set feathering options for low/high spatial resolution
- [ ] Retrieve P-T conditions for a specific time

[2017-10-04 09:45] #121 closed, assigned to n01r, richardbriggs

[2017-10-04 09:45] #119 closed, assigned to CFGrote

[2017-10-04 09:45] #118 closed, assigned to richardbriggs

[2017-10-04 09:46] #117 closed, assigned to nobody

[2017-10-04 09:46] #115 closed, assigned to CFGrote

[2017-10-04 09:47] #113 closed, assigned to bussmann, n01r

[2017-10-04 09:47] #112 closed, assigned to CFGrote, richardbriggs

[2017-10-04 09:48] #109 closed, assigned to nobody

[2017-10-04 09:49] CFGrote opened #130 "CrystFELDiffractor improvements"
- [ ] Make a Geometry class to represent crystfel geometry files
- [ ] Implement .save() methods on Geometry and PhotonBeamParameters classes which write params/geom and params/beam datasets in h5 output.
- [ ] .load methods for instantiation
- [ ] .serialize / digitize methods for loading/initialization from plain file.
- [ ] Use new functionalities in CrystFELPhotonDiffractor and SingFELPhotonDi

[2017-10-04 09:49] #87 closed, assigned to nobody

[2017-10-04 09:50] #86 closed, assigned to nobody

[2017-10-04 09:50] #85 closed, assigned to CFGrote

[2017-10-04 09:52] CFGrote opened #131 "FEFFPhotonMatterInteractor improvements"
- [ ] doc
- [ ] specify atoms in sample file
- [ ] store header information from output files in results
- [ ] run test based on http://leonardo.phys.washington.edu/feff/Example/Example8/feff84_cu/feff84_cu.tar.gz

[2017-10-04 09:54] #68 closed, assigned to CFGrote

[2017-10-04 09:55] CFGrote commented on #83
duplicate of #97

[2017-10-04 09:55] #83 closed, assigned to CFGrote

[2017-10-04 09:55] #65 closed, assigned to nobody

[2017-10-04 09:56] CFGrote commented on #56
most external libs are now pulled from eucall-software.

[2017-10-04 09:56] #56 closed, assigned to nobody

[2017-10-04 09:58] CFGrote commented on #39
fixed in srwlib.py

[2017-10-04 09:58] #39 closed, assigned to CFGrote

[2017-10-04 10:18] CFGrote opened #132 "Add reference tests"
Add tests that check if certain simulations always produce the same numbers, if possible based compare to first principle and/or experimental results.

[2017-10-04 10:22] CFGrote opened #133 "Start-to-end benchmark study"
Perform a complete experiment simulation and compare to experimental data

[2017-10-04 10:23] CFGrote opened #134 "Source + Propagation benchmark"
Compare XFEL SASE1 and SPB-SFX commissioning data to XPD+WPG simulations

[2017-10-04 10:28] CFGrote opened #135 "Cross-workflow validation"
not sure what this means. we don't have two codes for the same task anywhere. comments?

[2017-10-04 11:29] CFGrote opened #136 "SimEx as a service to users"
Any recommendations welcome:

- Webbased or not
- Use existing workflow manager tools, GUIs etc (e.g. Oasys)

[2017-10-04 11:33] CFGrote opened #137 "Simulation sharing"
Establish a service / database where simulations can be stored with all metadata, parameters, and results for archiving and sharing. Possible use cases include reusing and restarting simulations from existing data

[2017-10-24 09:20] richardbriggs commented on #126
Moved all to issue #129, which remains open

[2017-10-24 09:20] #126 closed, assigned to richardbriggs

[2017-11-02 19:40] CFGrote opened #138 "Diffraction Calculators interface homogenisation"
- [x] Enable setting of photon beam parameters via PhotonBeamParameters object in the same fashion in CrystFELDiffractor and SingFELDiffractor. Consider using base class for this.
- [x] Behavior should be
        parameters = XDiffractionParameters(..., .... beam_parameters=None -> use input,

[2017-12-04 16:07] CFGrote opened #140 "Benchmark hydro codes"
benchmarking for esther:

- no data for visar
- intensity fluctuations, sims would overestimate pressure. adjust overall intensity (see hyades).
- need estimations for 15J in ramp up phase for new laser
- RB has data from Mo: point visar, P vs. Laser power density, 100 to 300 GPa. 15 mu plastic, 15 mu Mo foil.

[2017-12-06 13:04] richardbriggs opened #142 "Consistency checks for rad_transfer and thermal conduction"
Add to consistency check function.

[2017-12-08 10:58] richardbriggs opened #143 "Updates to Esther could cause errors in tutorial files on Zenodo"
The tutorial files on Zenodo could be 'out of date' as may miss some new parameters that were added.

[2017-12-08 13:17] richardbriggs commented on #142
Some materials don't have the parameters for therm_conductivity or rad_transfer and so the check should check for the materials where this information is available or not. Should be added to the Materials DICT in parameters class.

[2017-12-08 13:58] CFGrote commented on #142
can you update the material on zenodo? (make a new version, original doi
will still work).

even better would be to program the interface such that it's backward
compatible, e.g. by choosing default values for the new parameters, not
present in the old examples.

On Fri, Dec 08, 2017 at 05:17:17AM -0800, Richard Briggs wrote:

--
Dr. Carsten Fortmann-Grote
Scientist for Scientific Simulations / Wi

[2017-12-08 14:26] richardbriggs commented on #142
I had a debrief with my ESRF colleagues and picked up on a number of things that I should update on the wiki / code etc. I will continue to contribute for a short time on GitHub after I leave to make sure that when I start my next position a lot of things will be cleared up. Hopefully, I have computer account access sorted out for when I leave so that I can continue to access the unix server to te

[2018-02-28 14:41] CFGrote opened #144 "Phasing"
- [ ] Implement a restart functionality in DMPhasing. Restart from an existing run_dir.
- [ ] Interface for hawk/uwrapc for 2D phasing (Hawk2DPhasor)

[2018-04-05 13:03] CFGrote opened #145 "Completion of the long-pulse pump-probe s2e simulation toolchain"
## Outline
The radiation hydrodynamics simulations are currently isolated from other simulation tools. Output is written to openpmd conform hdf5. Those data should now be picked up by an electronic structure/MD calculator and, subsequently, atomistic signal generator, or directly by a continuum signal generator such as XRTS.

## Tasks
- [ ] Implement an API to (AI)MD tools (consider ASE)
- [ ] Ena

[2018-04-05 13:16] CFGrote opened #146 "Adoption of openPMD in SPI simulation toolchain"
[openPMD](https://github.com/openPMD) should become the default metadata standard in most if not all modules. In the SPI toolchain, the PMI module writes to a custom format which is then picked up by the singfel diffractor.

- [ ] Develop an API (Calculator+Parameters) for [XMDYN](https://www.desy.de/~xraypac/xmdyn.html) (gpu enabled full version)
- [ ] This API takes care of feeding wavefront dat

[2018-04-05 13:27] CFGrote opened #149 "SFX simulations: Hooks for WPG"
The CrystFELPhotonDiffractor can simulate diffraction patterns for a given sample structure and for various types of x-ray probe spectra. One option is "SASE". Here, the pulse is modeled as a sequence of Gaussian pulses of a certain width. The API can already read a WPG wavefront and extract the width  from the wavefront data as the fwhm of the pulse in fourier space. A more accurate way would be

[2018-04-05 13:29] CFGrote opened #150 "openPMD-API, python interface"
See https://github.com/openPMD/openPMD-api/issues/32

### References

* [links for Python protocol buffers](https://github.com/openPMD/openPMD-api/issues/32#issuecomment-368810218)

[2018-04-10 19:01] CFGrote opened #151 "Detectors and Geometries"
- [ ] Make use of python-fabio as a basis for detector geometries in corresponding classes (DetectorPanel, DetectorGeometry)
- [ ] If possible, use these classes in XCSITPhotonDetector(Parameters)
- [ ] Test/debug the detector simulations. Minimal example in XCSITPhotonDetectorTest.py

[2018-04-13 12:58] CFGrote opened #152 "Unified units in simex_platform"
Some SimEx classes use the python module `pint` to handle physical units (e.g. "meter") and constants ( e.g. the elementary charge "e"). Examples are the `DetectorGeometry` class, `DetectorPanel` class, `PhotonBeamParameters`, and Parameters and Calculators that make use of the former.

The goal is to update all SimEx classes to use the `pint` module.

As a sequel, one would then update  IO to mak

[2018-04-16 08:39] CFGrote opened #153 "WPG simulation of reflection from multilayer structures"
SImulate reflection of x-rays from a multilayer structure with varying electron densities using WPG

[2018-04-16 08:46] CFGrote opened #154 "Integrate GAPD"
Integrate GAPD into simex_platform:

- [x] Add GAPD to the cmake build system
- [ ] Add data converters to IOUtilities:
    - [ ] Input from MD format(s)
    - [ ] Output to singFEL/crystFEL compatible hdf5 (consider cxiDB format)
- [ ] GAPDPhotonDiffractorParameters object to (de)serialize GAPD input files
- [ ] GAPDPhotonDiffractor: backengine method
- [ ] GAPDAnalyzer: Visualization of GAPD out

[2018-04-16 08:50] CFGrote opened #155 "Benchmarking of virus diffraction data"
Prepare simulation of an SPI experiment on a sytem with available experimental data (either AMO or CXI datasets from cxiDB).
Can we do with rad-damage?

[2018-04-16 08:51] CFGrote opened #156 "rad-hydro to exafs toolchain"
Devise a workflow to feed radiation-hydrodynamics simulation output into the FEFF code for EXAFS simulations

[2018-04-16 08:56] CFGrote opened #157 "WPG simulation of transmission grating (for wavefront detection)"

[2018-04-16 09:47] ghost commented on #154
Great. Almost all the things I can think of now.

[2018-04-16 12:49] ax3l commented on #151
nice! Can you recommend any python-fabio links? :)
(demonstrating the comment feature ;-) )

[2018-04-17 08:18] limki commented on #157
Following the [SPB example](http://wpg.readthedocs.io/en/latest/beamlines/S1_SPB_CRL_mirrors/S1_SPB_CRL_mirrors.html#)
in 'bl_S1_SPB_CRL_mirrors.py': calculateOPD no longer has parameter stretching, using xscale instead
kernel dies on step `bl.propagate(wf)` with `Error in '/usr/bin/python3.4': free(): invalid next size (fast): ...` and `srwlpy.cpython-34m.so...srTGenOptElem...PropagateRadiationMe

[2018-04-17 09:45] n01r opened #158 "Tutorial on nano crystal diffraction"
Trying the tutorial on [nano-crystal diffraction](https://github.com/eucall-software/simex_platform/wiki/Tutorial-on-nano-crystal-diffraction) and reporting issues.

- importing `CrystFELPhotonDiffractor, CrystFELPhotonDiffractorParameters, PhotonBeamParameters` is not sufficient to create the `beam` variable
- the units are missing due to the upgrade to using the `pint` python package
- [x] fix t

[2018-04-17 11:17] belfhi opened #159 "Tutorial nano crystal diffraction geometry Parameter not set"
CrystFELPhotonDiffractorParameters does not set geometry in constructor.

[2018-04-17 12:12] n01r commented on #159
[code]
Apparently the tutorial was wrong because it used the keyword `geometry` but the class constructor requires `detector_geometry`. Strangely we got not error from using an unknown keyword.

[2018-04-17 12:12] #159 closed, assigned to nobody

[2018-04-18 09:18] CFGrote commented on #154
Added cmake entry. cmake -DGAPDPHOTONDIFFRACTOR=ON triggers installation of GAPD. GAPD.cuda and GAPD_mem go to bin/ the rest to share/doc/GAPD

[2018-04-18 09:38] n01r commented on #158
When trying to run the last command `diffr_diagnostics.py -P -p1 -z True xstal_diffr.h5` I am encountering the following error:
[code]
That is likely due to the `#!/usr/bin/env python2.7` shebang in the beginning and the python3 branch being installed on Maxwell.

I replaced it by `#!/usr/bin/env python` in the local copy of `diffr_diagnostics.py`  because the `simex` module loads python 3.4 anywa

[2018-04-18 10:21] codingS3b opened #161 "AbstractCalculatorParameters: options for nodes and gpus"
While developing a SLURMSubmitter class for issue #148 it occured to us that it would be helpful to be able to query the calculators for their need of nodes and number of gpus to get the batch system call correctly and avoid that the user would have to pass those same options twice (to the calculator parameters and the submitter object).

For doing this we suggest to enhance the `AbstractCalculato

[2018-04-18 12:48] n01r opened #163 "Tutorial notebooks from simex_notebooks"
Run and report errors:
- [ ] [start_to_end_demo.ipynb](https://github.com/eucall-software/simex_notebooks/blob/master/start_to_end_demo.ipynb)
- [x] [xstal_diffraction.ipynb](https://github.com/eucall-software/simex_notebooks/blob/master/xstal_diffraction.ipynb)

[2018-04-18 12:53] n01r commented on #163
The `xstal_diffraction.ipynb` notebook works on Maxwell @ DESY

[2018-04-18 13:02] n01r commented on #163
Running the `start_to_end_demo.ipynb` yields errors.

The photon source file is not available but a test file can be downloaded from https://zenodo.org/record/888853/files/s2e_tutorial_example_source_input.h5

Then the notebook runs fine until the photon matter interaction
[code]
Seems to be that there is something wrong with the slicing order.

ping @CFGrote

[2018-04-19 12:27] n01r commented on #163
After #166 is merged, we can upload a new example notebook that uses the new example FEL source file.

[2018-04-19 13:38] n01r commented on #152
Did you already compile a list of `Parameter` and `Calculator` objects that need to be adapted to use `pint`?

- `PlasmaXRTSCalculatorParameters`
- ...

[2018-09-27 12:30] #161 closed, assigned to nobody

[2018-09-27 13:34] CFGrote opened #169 "Approval"
EUCALL WP4 (SIMEX) Milestone M4.4
Tested and documented simulation code

The simulation software is tested, documented, and approved by WP Partners.

[2018-09-27 13:48] bussmann commented on #169
Approved and happy about it!

[2018-09-27 13:53] belfhi commented on #169
Approved!

[2018-09-27 13:57] sharma35 commented on #169
Approved!
Congratulations!!!

[2018-09-27 14:16] ax3l commented on #169
Well done, approved!

[2018-09-28 11:40] CFGrote commented on #169
Yes, fine with me.

Thanks for all.

Sakura

On 28/09/2018 12:42, Carsten Fortmann-Grote wrote:

[2018-09-28 11:41] CFGrote commented on #169
Yes, approved!
With regards,
Ashutosh

Get Outlook for Android<https://aka.ms/ghei36>

On Fri, Sep 28, 2018 at 12:42 PM +0200, "Carsten Fortmann-Grote" <carsten.grote@xfel.eu<mailto:carsten.grote@xfel.eu>> wrote:

Dear all,
i need at least (Mathias or Sakura) and (Ashutosh or Alexander) to
approve Milestone M4.4 for SIMEX.

Please reply to this email and just say "Yes" or "Approved". That's all.

[2018-09-28 11:41] CFGrote commented on #169
All approved, closing.

[2018-10-02 23:14] #169 closed, assigned to nobody

[2019-03-20 13:57] rshopa opened #170 "SIMEX installation on cluster for Polish XFEL users"
[UPD!] Greetings.

I shall report problems with the basic installation of SIMEX platform on CIŚ cluster (Świerk, Poland https://www.cis.gov.pl/) for Polish XFEL users.
Since docker is not available (Singularity is announced), it ought to be made manually as described on https://eucall-software.github.io/simex_platform/index.html.

I encountered multiple problems related with dependencies and links

[2019-03-25 20:16] CFGrote commented on #170
do you have mkl installed? if yes, make sure to

    $> source `which compilervars.sh` intel64

before running cmake (assuming you're on a 64bit architecture). that should then fix the fftw3.h dependency.

c.

[2019-03-26 13:52] rshopa commented on #170
As far as I know, MKL is not installed.

[2019-03-26 18:23] CFGrote commented on #170
ok, that explains why your issues with fftw3. i have never installed without mkl, so can't really tell much.

for now, could you deactivate the recon cmake target? there's another dependency on fftw3 (in wpg/srw), but that is handled by the wpg installation makefile and should work even without mkl.

carsten

----- Original Message -----
From: "Roman Shopa" <notifications@github.com>
To: "eucall-s

[2019-03-27 08:11] rshopa commented on #170
UPD! Thanks a lot.

I've already added the whole module ```intel-composer``` (with MKL) and, finally, CUDA (```GAPDPhotonDiffractor=ON```).  The complete list of modules uploaded (some might not be necessary) is as below:
[code]

At first, errors appeared while make, but this was caused by assigning root dir to empty.
I changed manually ```INSTALL_PREFIX=/mnt/home/rshopa/SIMEX/simex_platform/``` a

[2019-03-27 10:37] rshopa commented on #170
There's issues on executing Test.py from unittest. Not sure it's an installation issue, but at least a warning of ```Esther``` not being installed is odd
[code]
There are other errors as follows:
[code]
The program freezes at this moment (liable only to be broken) - is this just about long simulation time or due to errors?

[2019-04-05 08:24] rshopa commented on #163
Multiple errors on running ```start_to_end_demo.ipynb```. I am not sure whither it is the consequence of bad install ([see an issue related to Polish XFEL users](https://github.com/eucall-software/simex_platform/issues/170)) or not.

If run manually line by line and initially it looks ok, at least by the line
[code]
Next line yields ```segmentation fault (core dumped)``` error on bash and a messag

[2019-04-09 19:33] CFGrote commented on #170
can you make sure that Tests/python/unittest/TestFiles/pmi_out_0000001.h5 exists?

if not, you're probably missing git-lfs. please check https://help.github.com/en/articles/versioning-large-files.

c

[2019-04-09 19:33] #170 closed, assigned to nobody

[2019-04-09 19:37] CFGrote commented on #163
your prop_out_*.h5 file has suspiciously few transverse grid points. how did you generate it? most probably, the propagation failed and all entries are 0 or NaN, hence min() and max() fail as well.

[2019-04-11 12:02] rshopa commented on #163
I installed git-lfs and loaded .h5 file by git checkout (apparently no more errors while testing). Yet the problems remain. Maybe it's better to solve them one by one.

I follow the example [from the notebook](https://github.com/eucall-software/simex_notebooks/blob/master/start_to_end_demo.ipynb), omitting ```# Cleanup previous run```. Why the notebook breaks on the line ```source_analysis.plotTot

[2019-04-11 12:41] CFGrote commented on #163
one more thought: are you using anaconda? if yes, this will very likely
be the cause for your issue with wpg/srw.

either use native python3 or follow
https://github.com/samoylv/WPG/issues/117#issuecomment-336665382

Regards, Carsten

On 4/11/19 2:02 PM, Roman Shopa wrote:

[2019-04-11 12:53] rshopa commented on #163
[UPD]

Thank you, Carsten, I'll try: have no options for python3 on cluster except anaconda.
Apparently, the solution you mentioned would remove MKL. Apparently, it AFFECTS the rest of the framework.
[code]
The error in the notebook for ```source_analysis.plotTotalPower(spectrum=True)``` disappeared, but the very next line returns an error:
[code]

[2019-05-07 10:12] rshopa commented on #163
I ran the example several times both on cluster and on laptop (docker container) and noticed that the impulse ```/Tests/python/unittest/TestFiles/FELsource_out/FELsource_out_0000001.h5``` differs from the one presented here. For instance, ```Data dimensions =  (21, 21, 550)``` is much smaller (as was for ```prop_out_0000001.h5``` mentioned above).

Could it be the cause of the error on ```source_a

[2019-05-07 10:13] CFGrote commented on #163
hi roman,
thanks for reporting.

i'll look into this later today.

--
Regards, Carsten

On 5/7/19 12:12 PM, Roman Shopa wrote:

[2019-05-07 17:31] CFGrote commented on #163
hi roman,
looks like i will have to recreate my simex environment on the desy cluster, it was removed during my absence from XFEL. that will take bit of time, hope that is not too big a setback for you.

best regards, carsten

[2019-05-10 10:16] rshopa commented on #163
Hi Carsten,
Did you mean that ```.h5``` files from ```Tests``` are corrupted (by "simex environment on the desy cluster")? Or it concerns the whole repository?

I ask because there are errors in multiple examples from wiki, e.g. [the very first example from a year-old workshop](https://github.com/eucall-software/simex_platform/wiki/Tutorial-on-nano-crystal-diffraction):
![image](https://user-image

[2019-05-10 10:51] CFGrote commented on #163
yep, i'm on it.

carsten

On 5/10/19 12:16 PM, Roman Shopa wrote:

[2019-06-13 05:09] CFGrote commented on #163
hi roman,
it took me a while, but now i have an up-to-date simex installation on the desy cluster, again. the notebook https://github.com/eucall-software/simex_notebooks/blob/master/start_to_end_demo.ipynb goes through without problems and produces reasonable results (diffraction patterns). i used this file as FELsource output:
https://desycloud.desy.de/index.php/s/oq76Zfs9P6KiqFd

can you try aga

[2019-06-14 09:11] rshopa commented on #163
Hi. Carsten.
Thanks a lot. I'll check this as soon as possible.

[2019-06-18 13:01] rshopa commented on #163
Hi, Carsten.
Apparently there's a major problem with the installation - none of the reported problems disappeared.

The line from the notebook ```In [9]: source_analysis.plotIntensityMap()``` still doesn't work. An error occurs which ends as ```RuntimeError: adjustable='datalim' is not allowed when both axes are shared``` ([I mentioned this in the very first comment](https://github.com/eucall-soft

[2019-06-18 16:53] CFGrote commented on #163
roman,
the first one is an issue in XFELPhotonAnalysis, due to a change in
matplotlib. i fixed it in the develop branch but need to push and run
through CI before pushing it to master. i'll let you know. in the
meantime, you could just comment the two lines where "datalim" appears.

the second: could you tell me as much as possible about your
environment, both hardware (in particular RAM), and sof

[2019-06-18 17:06] CFGrote opened #171 "openpmd converter for wpg output based on openpmd-api"
The conversion from native wpg output to openpmd is currently using h5py. Replace current functionality by more robust code making use of openpmd-api

[2019-06-18 18:36] CFGrote commented on #171
Status:
* installed openpmd-api from sources. linked against hdf5/1.10.5 (via module), no mpi. prefix=~/Projects/venvs/simex/
* copied write example from openpmd-api documentation and adopted to wpg out case.
* problems with float32, have to convert to floag64 (see openpmd-api issue #331)
* dataset creation and insertion into series works, file is written.

[2019-06-19 11:15] rshopa commented on #163
Hi Carsten.

Here is the description of the environment I use on CIŚ cluster. :
[code]
[code]

Python:
[code]
Since I use anaconda, I removed mkl, as you advised (unit tests would fail):
[code]
gcc (I might have used higher version for the compilation):
[code]
Here is the list of other modules loaded on cluster:
[code]
Full list of conda modules:
[code]

[2019-06-19 15:36] CFGrote commented on #163
my suspicion is that your RAM is insufficient. i typically run these
simulations on a 500GB shared memory node. right now, i'm running the
notebook under limited memory conditions.

can you trace your memory consumption over time while the notebook executes?

Regards, Carsten

On 6/19/19 1:15 PM, Roman Shopa wrote:

[2019-06-19 15:51] CFGrote commented on #163
my runs consumes approx. 34 GB RAM (virtual memory). do you have
anything else running on the system? e.g. on my node, there are root
processes summing up to ~30GB.

Regards, Carsten

On 6/19/19 5:36 PM, Carsten Fortmann-Grote wrote:

[2019-06-19 15:53] CFGrote commented on #163
and on another note, i just pushed v0.4.1 which fixes the matplotlib
issue you reported.

Regards, Carsten

On 6/19/19 5:51 PM, Carsten Fortmann-Grote wrote:

[2019-06-20 13:48] rshopa commented on #163
Hi Carsten,
Thank you for the hints.
Probably I have to discuss the latest issue with our admins.

It still seems odd for me that memory issues cause error at ```propagator.backengine()``` stage.

[2019-06-20 13:52] CFGrote commented on #163
the propagation is certainly among the most RAM consuming parts.
consider the data volume for this raster in t,x, and y, where each voxel
has to store two complex fields in double precision.

Regards, Carsten

On 6/20/19 3:48 PM, Roman Shopa wrote:

[2019-07-08 12:28] rshopa commented on #163
Hi Carsten,
The problem with .backengine() functions was related to open MPI (apparently I forgot to add the library to conda environment). It disappears after I loaded the module.
The example appears to run ok (haven't updated to v0.4.1 to test the issue with matplotlib), but with little difference in images. Since I yet have to dive into the physics, I don't know whether it is consistent or not.

[2019-07-08 12:34] CFGrote commented on #163
looks great to me!

Regards, Carsten

On 7/8/19 2:28 PM, Roman Shopa wrote:

[2019-07-11 11:19] rshopa commented on #158
Same here - looks like detector output contains low statistics, as @n01r noticed. Only 23 non-zero pixels of the same intensity.
![image](https://user-images.githubusercontent.com/15617645/61046875-7905c800-a3de-11e9-91b0-5d20438f2518.png)

[2019-07-26 04:40] CFGrote opened #172 "py dependencies cleanup"
Hi Carsten,

I’ve installed SIMEX on Maxwell successfully. However, during the installing, I’ve met the following python modules which are not listed in the document (https://eucall-software.github.io/simex_platform/#software-dependencies):

    breathe
    pint

Are they actually needed? For the breathe module, pyaudio ,which needs extra libraries, is dependent. If they are not actually needed, w

[2019-07-26 04:42] CFGrote commented on #172
breathe is only needed to built the documentation, so could move it to a
new requirements.txt in Source/doc/source. while on it, we could then
also move Source/doc/source to doc/ under the main simex directory ...

pint is the module that takes care of physical units and we need it.

see also #171

[2019-07-26 04:47] #150 closed, assigned to nobody

[2019-07-26 05:05] CFGrote commented on #152
Go through this list of calculators and define action needed
===============================================

| Calculator                                                  | Action needed                            | Status |
|------------------------------------------------------|-----------------------------------------|----|
| AbstractBaseCalculator.py                         |

[2019-07-26 05:08] CFGrote commented on #152
Go through this list of parameters and define action needed
===============================================
| Parameter class | Action needed | Status |
|----------------------|--------------------|----------|
| EstherPhotonMatterInteractorParameters.py | | [ ] |
| FEFFPhotonMatterInteractorParameters.py | | [ ] |
| PhotonBeamParameters.py,imported | | [ ] |
| PhotonMatterInteractorParameters.py |

[2019-07-26 09:30] JunCEEE commented on #172
OK, then I understand. It seems not necessary to change the file structure. Just an update of the documentation should be enough.

[2019-09-12 11:34] JunCEEE opened #174 "Official simex name spelling"
How should simex be spelled officially? Recently I just got a little bit confused when I am make some slices. There are three spellings I found right now:
- **SimEx**, found in the python module when import simex platform and some slices
- **SIMEX**, found in documents like PaNOSC proposal and some slices
- **simex**, found in some github repositories like this "simex_platform"

[2019-09-25 14:08] JunCEEE commented on #174
So after the discussion, I would clarify it in this way:

- **SimEx**, the name for the python library.
- **simex**, the name related to the eucall project.
- SIMEX is not an official name and the usage of it should be avoided for clearance.

[2019-09-25 14:08] #174 closed, assigned to nobody

[2019-10-14 08:48] rshopa commented on #158
UPD: no improvement on diffraction patterns (i.e. few non-zero pixels only) if using files from [SPI tutorial](https://github.com/eucall-software/simex_notebooks/blob/master/start_to_end_demo.ipynb) as input.

Unfortunately, I've found no way to "feed" CrystFEL (```CrystFELPhotonDiffractorParameters()``` and ```CrystFELPhotonDiffractor()```) with ```pmi_output``` - data with different structure of

[2019-10-24 08:50] idawod opened #175 "rotationAxis for diffraction simulations"
Hi!

I have a minor issue when trying to rotate the sample in Simex. When I change the line in

 "quaternions = generateRotations(self.parameters.uniform_rotation, 'xyz', self.parameters.number_of_diffraction_patterns,)"

in 'SingFELPhotonDiffractor.py', to a different rotation, like 'y', it is overwritten and still uses 'xyz'.

I went in to the file 'radiationDamageMPI.py' and changed the line

r

[2019-10-24 08:55] CFGrote commented on #175
hi @idawod,
thanks for this post. we will investigate options to set the rotation
axis / fix the reported overwriting. please feel free to make a pull
request if you manage to fix it on your side.

thanks again!

On 10/24/19 10:50 AM, idawod wrote:

[2019-11-14 11:24] rshopa opened #176 "Diffraction of infinite lattice/large scale crystal"
My question might be out of scope yet of high importance for the comparison x ray diffraction on nano- and large-scale objects. In [Deliverable D4.5 report](https://www.eucall.eu/sites/sites_custom/site_eucall/content/e21597/e25317/e79593/EUCALL_WP4_SIMEX_Deliverable_4_5_D28_30_09_2018.pdf?preview=preview), there's a discussion on _singFEL_ and _CrystFEL_ outcomes for the case of nano-scaled Fe2O3

[2019-11-19 05:03] CFGrote commented on #176
hi roman,

----- Original Message -----
From: "Roman Shopa" <notifications@github.com>
To: "eucall-software/simex_platform" <simex_platform@noreply.github.com>
Cc: "Subscribed" <subscribed@noreply.github.com>
Sent: Thursday, 14 November, 2019 12:24:30
Subject: [eucall-software/simex_platform] Diffraction of infinite lattice/large scale crystal (#176)

My question might be out of scope yet of high

[2019-11-19 11:50] rshopa commented on #176
Thank you, Carsten.
I will consider the eventual model for the simulation using Xraypac.

[2019-11-19 11:50] #176 closed, assigned to nobody

[2019-11-28 11:39] rshopa opened #177 "Arbitrary detector for singFEL and CrystFEL"
Hi there.
I am trying to compare simulations from the same protein example ```5udc.pdb``` given in tutorials for both SPI and nanocrystal diffraction (using singFEL and CrystFEL, respectively). I need to implement a real (arbitrary detector geometry) for the eventual simulation of dynamics for a protein, say, from cancer-/non-cancer cell. singFEL is probably the better choice, since it encompasses

[2020-02-09 20:11] CFGrote opened #180 "Gaussian source"
Make a Calculator that generates a wavefront with Gaussian amplitude distribution in time and space.

[2020-02-09 20:12] CFGrote commented on #180
Pushed to
6a65415 on gauss_source.

[2020-02-10 15:39] JunCEEE commented on #180
When I try to run `gaussianSource = GaussianPhotonSource()`, I got this error:

[code]

[2020-02-21 04:29] CFGrote opened #183 "Update WPG"
WPG was recently updated. A bugfix for SRW-OpenMP has also been made.
-> Update wpg to latest version with fixed srw

[2020-03-03 09:52] JunCEEE opened #184 "pmi_diagnostics.py needs update"
`python Sources/python/ScriptCollection/DataAnalysis/pmi/pmi_diagnostics.py` got an error:

[2020-03-10 14:24] JunCEEE opened #185 "pysingfel: H5pyDeprecationWarning"
hdf version: 1.10.5, When excute:
[code]
Got error:

[2020-03-17 05:25] CFGrote commented on #171
Further TODOs:
- [ ] Integrate into sim pipeline (enable dump and read from opmd files)
- [ ] Adjust diagnostic tools

[2020-03-23 05:35] CFGrote opened #1 "Make python version consistent across boost, py_detector_interface, and simex"
When building simex on maxwell, the boost lib in /data/netapp/s2e/simex/lib is used, which is compiled against python3.6. python3.6 is then also picked up by py_detector_interface, while simex itself picks up whatever is pointed to by Python_ROOT_DIR.  This must become consistent:

- [ ] Build boost only if XCSITPhotonDetector is requested
- [ ] Set env so that boost is linked against the same pyt

[2020-03-23 05:37] CFGrote opened #2 "Transfer all active and recent issues to this repo"
Development must move to this repo and eucall-software should be retired. We have to move the
panosc related issues and projects and the wiki to this repo.
- [ ] Move issues
- [ ] Move projects
- [ ] Move wiki

[2020-03-23 20:23] CFGrote opened #3 "Move documentation to RTFD"

[2020-03-24 05:14] CFGrote opened #186 "Make python version consistent across boost, py_detector_interface, and simex"
When building simex on maxwell, the boost lib in /data/netapp/s2e/simex/lib is used, which is compiled against python3.6. python3.6 is then also picked up by py_detector_interface, while simex itself picks up whatever is pointed to by Python_ROOT_DIR. This must become consistent:

Build boost only if XCSITPhotonDetector is requested
Set env so that boost is linked against the same python as simex

[2020-03-24 05:14] #1 closed

[2020-03-24 05:14] CFGrote opened #187 "Move documentation to RTFD"

[2020-03-24 05:15] #2 closed

[2020-03-24 05:15] CFGrote opened #188 "Transfer to PaNOSC-ViNYL"

[2020-03-26 04:48] CFGrote commented on #183
Done by 4ca121e8ee4dadcecfa87a35ee7bee6591daffb7

[2020-03-26 04:48] #183 closed, assigned to CFGrote

[2020-03-26 04:49] CFGrote commented on #180
@ejcjason , is the above still an open issue? look at the tests for GaussianSource to see how it is supposed to work.

[2020-03-26 23:24] JunCEEE commented on #180
[develop branch](/PaNOSC-ViNYL/SimEx/tree/develop) Tested, still found several problems.

## Cannot be imported by `from SimEx import *`
Got error `NameError: name 'GaussWavefrontParameters' is not defined` and
`NameError: name 'GaussWavefrontParameters' is not defined`.

Possible solution: [__init__.py](/PaNOSC-ViNYL/SimEx/tree/develop/Sources/python/SimEx/__init__.py) might need to be modified.

[2020-03-30 11:39] JunCEEE commented on #187
Hi @CFGrote, the old documentation page was unavailable now, https://eucall-software.github.io/simex_platform/, do we have a new link for our documentation?

[2020-04-03 03:31] #188 closed, assigned to nobody

[2020-04-03 03:31] CFGrote commented on #188
Done

[2020-04-03 03:33] CFGrote commented on #187
it's still under github-pages, now here: https://panosc-vinyl.github.io/SimEx/

[2020-04-03 03:36] CFGrote commented on #187
Moving to readthedocs is not that straightforward as initially thought because it's not that simple to instruct RTD how to build SimEx. Building SimEx is needed because sphinx (the documentation engine) tries to `import SimEx`. If we don't want to build SimEx we would have to mock quite a number of modules which is also quite tedious. So better leave it on gh-pages for now and just update the styl

[2020-04-03 07:31] JunCEEE commented on #187
I agree with the idea to just update the style.

[2020-04-03 15:54] JunCEEE commented on #184
More erros pompt out in after add `pass` under 118 in [pmi_diagnostics.py](https://github.com/PaNOSC-ViNYL/SimEx/blob/develop/Sources/python/ScriptCollection/DataAnalysis/pmi/pmi_diagnostics.py).  @CFGrote Any suggestions to fix this?

[2020-04-15 04:00] CFGrote opened #191 "Connector to radiasoft's sirepo"
develop a conversion utilty that loads a downloaded beamline from the sirepo environment and returns a valid wpg beamline to be used in simex photonpropagator.

[2020-04-28 04:04] CFGrote opened #192 "Review gapd calculator"
Hi Juncheng, very good work, just a few minor comments:

## GAPDPhotonDiffractorParameters.py:
- [ ] l 4ff: put yourself as 2nd author
- [ ] l 37ff: check you really need all these parameters, do they make sense for GAPD?
- [ ] 102-115: as discussed: remove these lines, align 116-126

## GAPDPhotonDiffractorTest.py
- [ ] l4f: add yourself as 2nd author

## GAPDPhotonDiffractorParametersTest.py
- [

[2020-04-30 14:08] takluyver opened #193 "Update links on pan-data software catalogue?"
I was looking for simex, and came to this page:
https://software.pan-data.eu/software/173/simex-platform

It looks like it's moved to a different Github organisation since that page was created.

Thanks!

[2020-05-04 11:56] CFGrote commented on #193
Thanks for the reminder. Yes, simex moved under the panosc umbrella and I have simply forgotten to update the pandata link.

[2020-05-05 16:14] takluyver opened #196 "Installation challenges"
What's the recommended way to install SimEx? I've been looking at various things without much success:

- The conda environment file seems to be missing several dependencies even to start building, and I can't get far even by adding things. Eventually, with some pointers from @ejcjason I was able to get it to work by disabling almost every component in `install.sh` and commenting out various impor

[2020-05-06 03:39] CFGrote commented on #192
hi @ejcjason , any progress on this one?

[2020-05-06 03:50] CFGrote commented on #196
Thanks, this is very important information.

The recommended way to install simex is using cmake. install.sh serves as a guideline. More hints may be found in .travis.yml and in scripts under `Travis/` .

Installation has successfully been tested on various linux distributions including debian7+ ubuntu 14.04+, centos7.

What is your target? c compiler? hdf version? cmake version? mpi ? mkl?

where

[2020-05-06 06:49] JunCEEE opened #197 "Multi-panel support in singfel calculator"
https://github.com/PaNOSC-ViNYL/SimEx/blob/gapd/Sources/python/SimEx/Calculators/SingFELPhotonDiffractor.py

The code is still in gapd branch.

[2020-05-06 06:58] JunCEEE commented on #192
I am overwhelmed by the EMC analysis. I will finalize this on the weekend.

[2020-05-06 07:53] takluyver commented on #196
Thanks Carsten!

In the first instance I want to install it on Maxwell (I know there's already a module, but I want to test a branch @ejcjason is working on). So CentOS 7. I'll focus on the conda installation for now. Once I've got a direct installation working, I might take an interest in using Spack to install it, and/or containerising it.

So, I've recreated a conda environment using `conda-req

[2020-05-06 08:49] takluyver commented on #196
This is a bit long, but I figure it's worth recording the details of what errors I'm getting and what I'm trying. I should also have mentioned that I turned `DEVELOPER_MODE` off on @ejcjason's suggestion.

Disable WPG (for now), enable CrystFEL.

[code]

I didn't see this one before. `conda install zlib` ? No, that doesn't fix it. `conda install libpng` ? Replaces a `conda-forge` package with one

[2020-05-06 12:26] rshopa opened #199 "Little difference for radiation damage or without it (2NIP, PMI + singFEL)"
Greetings,

As far as I understood, radiation damage for SPI could be adjusted in parameters of ```XMDYNDemoPhotonMatterInteractor()``` and ```SingFELPhotonDiffractorParameters()```, namely random_rotation, uniform_rotation, calculate_Compton.

I checked these options and found out that random_rotation deteriorates the image quite significantly. But I still cannot reproduce the difference (without

[2020-05-07 08:31] JunCEEE commented on #199
Hi,

`calculate_Comption` doesn't mean radiation damage, it only means to consider Compton scattering in the diffraction simulation.

For radiation damage, one has to run XMDYN simulation which was mentioned in the paper. The XMDYN executable can only be obtained by contacting the [developers](https://www.desy.de/~xraypac/xmdyn.html) to get the licensing to institutes.

We are also exploring the p

[2020-05-07 09:25] rshopa commented on #199
@ejcjason, thank you for the explanation.

I share the idea of extending PMI beyond demo version of XMDYN, shall look for other modules.

Despite demo components of Xraypac included in SimEx, I initially assumed that the images presented in 2017 SPIE Proceedings by @CFGrote were obtained using solely the options from [SingFELPhotonDiffractor](https://github.com/PaNOSC-ViNYL/SimEx/blob/master/Sourc

[2020-05-09 19:26] CFGrote commented on #196
since you try this on maxwell, there is a functional installation on
maxwell under /data/netapp/s2e/simex

    $> module load intel/2018
    $> module load mpi/openmpi-x86_64-intel

annoyingly, you have to clean up your PYTHONPATH after this (remove the
py2.7 part of it).

then:

    $> source /data/netapp/s2e/simex/bin/simex_vars.sh

test:

    $> python

Hope this helps.

--
Dr. Carsten Fortmann

[2020-05-09 19:26] CFGrote commented on #196
hi thomas,
you need intel omp: module load intel

--
Dr. Carsten Fortmann-Grote
PaNOSC WP5 leader

On 5/6/20 10:49 AM, Thomas Kluyver wrote:

[2020-05-09 20:02] belfhi commented on #196
@CFGrote I can talk to Frank, we don't support Python 2.7 any more, so maybe it makes sense to modify the module to not set the python path...

[2020-05-12 14:59] takluyver commented on #196
Thanks Carsten. I found the module, but I was trying to test a branch that @ejcjason was working on, so I want to do the installation myself.

I'll try building it with the `intel` module loaded.

[2020-05-12 15:28] JunCEEE commented on #192
- [ ] Monochromatic beam unittest
- [ ] Polychromatic beam unittest
- [ ] Temporal integration unitest
- [ ] Read PMI output unittest
- [ ] CXI hdf5 output unittest

[2020-05-15 15:06] takluyver commented on #196
I tried with `module load intel` (it seems to have picked `intel/2020` as the default version), but I still see the same error about `-lgomp`.

[2020-05-15 17:03] CFGrote commented on #196
have you run

[code]
assuming you are on a 64bit machine. that loads the intel lib and
include paths.

carsten

--
Dr. Carsten Fortmann-Grote
PaNOSC WP5 leader

On 5/15/20 5:06 PM, Thomas Kluyver wrote:

[2020-05-25 11:31] JunCEEE opened #205 "TNSAIonMatterInteractorTest didn't pass travis"
[code]

Hi @leczzsolt @CFGrote, above is the error, we may need a hotfix branch to fix it.

[2020-05-27 08:48] JunCEEE opened #206 "Load geometry from .geom file directly"
[code]

Error comes out when setting `detector_geometry='tmp.geom'`.

[2020-07-08 09:35] JunCEEE opened #207 "Error for multiple node computing"
[code]

[2020-07-08 09:45] JunCEEE commented on #207
72(x2)
['72(x2)']
7 x2

[2020-08-14 14:20] #207 closed, assigned to nobody

[2020-08-14 14:22] JunCEEE opened #210 "Why is CMake 3.12 required?"
Could CMake 2.8 work with all the current functionalities?

[2020-08-31 19:27] CFGrote opened #212 "fix wpg problem"
i still observe crashing kernels when running propagation e.g in simex_notebooks.

[2020-08-31 19:28] CFGrote commented on #212
try installing wpg following their documentation at https://github.com/samoylv/WPG

[2020-09-01 07:55] buzmakov commented on #212
I'll check it asap.

пн, 31 авг. 2020 г., 22:29 Carsten Fortmann-Grote <notifications@github.com

[2020-09-01 12:48] buzmakov commented on #212
@CFGrote where I can find simex_notebooks to test wpg installation?

[2020-09-14 09:15] shervin86 opened #213 "Repository size large due to TestFiles"
It would be better to reduce the size of the repository. The size of the TestFiles directory is way larger than the effective code.... (~700 MB). It makes more difficult to clone the repository.

One solution would be to store the TestFiles in a separate repository.

[2020-09-14 09:24] shervin86 opened #214 "Web page referenced in README does not exist"
```https://eucall-software.github.io/simex_platform/```

What should be the right web page?

[2020-09-15 07:50] shervin86 commented on #213
Fixed in the `develop` branch.
Best is to clone as
[code]

[2020-09-15 07:50] #213 closed, assigned to nobody

[2020-09-18 09:18] JunCEEE commented on #214
https://panosc-vinyl.github.io/SimEx/
Links will be updated in the next release. It is now at the right **About** column of the GitHub page: https://github.com/PaNOSC-ViNYL/SimEx

[2020-09-18 09:18] #214 closed, assigned to nobody

[2020-09-18 12:20] #206 closed, assigned to nobody

[2020-09-18 12:42] JunCEEE opened #218 "GenesisPhotonSource error"
Traceback (most recent call last):
  File "GenesisPhotonSourceTest.py", line 134, in testPrepareRun
    xfel_source._prepareGenesisRun()
  File "/gpfs/exfel/data/user/juncheng/simex-openmpi/Sources/python/SimEx/Calculators/GenesisPhotonSource.py", line 75, in _prepareGenesisRun
    itdp=self.parameters['is_time_dependent'] )
TypeError: generate_input() missing 1 required positional argument: 'undu

[2020-09-20 15:59] JunCEEE opened #219 "SingFELPhotonDiffractor.py used too many openMP threads"
At line about 239 (line number might differ due to code version):
[code]
This `mpicommand = ParallelUtilities.prepareMPICommandArguments(np, ncores)` will create command like this `'mpirun -np 40 --map-by node --bind-to none -x OMP_NUM_THREADS=40 -x OMPI_MCA_mpi_warn_on_fork=0 -x OMPI_MCA_btl_base_warn_component_unused=0'` to use 40 threads per core, which will exceed system limit.

[2020-09-21 10:38] JunCEEE opened #220 "TNSAIonMatterInteractor.py cannot pass the test because `sdf.read` doesn't exist."
TNSAIonMatterInteractor.py cannot pass the test because `sdf.read` doesn't exist.
@leczzsolt, could you please help fix the problem? From this page https://github.com/ScientificDataFormat/SDF-Python, I only found `sdf.load` to read the file.

[2020-09-21 13:01] JunCEEE opened #221 "CrystFELPhotonDiffractor read .geom file error"
[AGIPD.geom](https://github.com/PaNOSC-ViNYL/SimEx/files/5255464/AGIPD.geom.txt)

[code]

[2020-09-21 13:07] JunCEEE commented on #221
Multiple panel .geom file is too complicated to handle by the `_detectorPanelFromString` and `parameters.detector_geometry.serialize` functions.

[2020-09-22 13:23] JunCEEE commented on #221
This problem is solved by importing https://cfelpyutils.readthedocs.io/en/latest/index.html in DetectorGeometry.py

[2020-09-22 13:23] #221 closed, assigned to nobody

[2020-09-22 14:42] JunCEEE commented on #220
https://cfsa-pmw.warwick.ac.uk/SDF/SDF_C This is the one to check. The previous link is a different one with the same acronym.

Found this one, maybe I can try it quickly https://pypi.org/project/sdfpy/
Conclusion: failed, version too old.

[2020-09-22 15:02] JunCEEE commented on #220
[code]

[2020-09-22 19:32] JunCEEE opened #223 "XMDYNPhotonMatterInteractorTest error"
[code]

[2020-09-22 19:52] CFGrote commented on #223
you have to set than environment variable to point to a directory than holds your dbase

[2020-09-23 09:09] JunCEEE commented on #220
Fixed in this commit https://github.com/PaNOSC-ViNYL/SimEx/commit/f1fe3facac439c588352cf78bac48c2d00141d5b

[2020-09-23 09:09] #220 closed, assigned to nobody

[2020-09-23 09:10] JunCEEE commented on #219
Fixed in this commit https://github.com/PaNOSC-ViNYL/SimEx/commit/3543f65fd63f76ad6eef547807c3a54f9eb2fe7d

[2020-09-23 09:10] #219 closed, assigned to nobody

[2020-09-23 09:10] #205 closed, assigned to nobody

[2020-09-25 13:07] #223 closed, assigned to nobody

[2020-09-25 13:08] #218 closed, assigned to nobody

[2020-09-28 19:29] JunCEEE opened #231 "Edit .travis.yml to add conda and pip test in the matrix"

[2020-09-28 19:29] JunCEEE commented on #231
Reference:
https://github.com/openPMD/openPMD-api/blob/dev/.travis.yml
https://github.com/ComputationalRadiationPhysics/picongpu/blob/master/.travis.yml

[2020-10-01 15:38] JunCEEE opened #232 "Reason for removing python 3.5 test"
https://travis-ci.org/github/PaNOSC-ViNYL/SimEx/jobs/731976399#L784

`Biopython requires Python 3.6 or later.`

[2020-10-01 15:38] #232 closed, assigned to nobody

[2020-10-01 15:40] JunCEEE opened #233 "Python 3.8 cannot install pyFAI 0.16"
https://travis-ci.org/github/PaNOSC-ViNYL/SimEx/jobs/731976398

ERROR: Failed building wheel for pyFAI 0.16

[2020-10-01 15:54] JunCEEE commented on #233
The solution is to

- [ ] loose the pyFAI version restriction.

- [ ] update the deprecated analysis function.

- [ ] Lock the version of pyFAI.

[2020-10-22 14:31] JunCEEE opened #235 "Biopython warning"
Got an error

/gpfs/exfel/data/user/juncheng/miniconda3/envs/test-s/lib/python3.7/site-packages/Bio/__init__.py:126: BiopythonWarning: You may be importing Biopython from inside the source tree. This is bad practice and might lead to downstream issues. In particular, you might encounter ImportErrors due to missing compiled C extensions. We recommend that you try running your code from outside the

[2020-10-26 20:21] JunCEEE commented on #235
Fixed by excluding it in CMakeLists.txt https://github.com/PaNOSC-ViNYL/SimEx/commit/e8fd9313c692b49df3174bb1de20c0f301c00fb9

[2020-10-26 20:21] #235 closed, assigned to nobody

[2021-06-01 15:05] kirienko opened #238 "simex doesn't check if crystfel is installed"
The `install.sh` script always tries to install CrystFEL regardless of it's actual status. Even if I already have `crystfel` installed, the installation script tries to do the same. It wouldn't be a problem if the script is capable of doing the proper installation. But usually it fails. (And even funnier that if I just call the same `make && sudo make install` command on my own, it works.)

All in

[2021-06-11 12:22] kirienko opened #239 "simex requires ocelot"
When I try to import
[code]
I've got the following error:

[code]

[2021-06-11 12:50] kirienko commented on #239
Thanks to @JunCEEE, the solution was to turn on the `DUSE_GenesisPhotonSource` in the [install.sh](https://github.com/PaNOSC-ViNYL/SimEx/blob/master/install.sh#L136[https://github.com/PaNOSC-ViNYL/SimEx/blob/master/install.sh#L136). But it's impossible to guess this. There must be an error message about this, or some similar mechanism.

[2021-06-22 09:16] #238 closed, assigned to nobody

[2021-09-06 14:07] godot11 opened #243 "Build error: undefined references to libgio-2.0 symbols"
I'm compiling SimEx from the develop branch, but I'm hitting a wall. System is Ubuntu 18.04 LTS. I'm using Intel compliers (OpenAPI 4.4.20(1), ifort and icc version 2021.3.0).

After I set up the environment with `./install.sh conda-env` and activating it, the build fails with a dozen of undefined refs in libgio-2.0. Specifically:

[code]

I attempted to both `sudo apt-get install libglib2.0-dev`

[2021-09-07 09:48] godot11 commented on #243
As a workaround, getting rid of the conflicting module in anaconda as
[code]
 solved it for now, but I'm not sure if this hack doesn't break anything else...

[2021-10-02 21:42] CFGrote opened #244 "docker image with example notebooks"
Trying to modify the dockerfile in Docker/simex/Dockerfile such that it adds the example notebooks from Simex_notebooks repo.
It builds the image but the command `jupyter` is not found when running the container in interactive mode.